.create-employee-text-field-cont {
  background-color: transparent !important; }

.radio-button-style label {
  font-weight: 500 !important; }

.create-employee-text-field-cont label {
  font-weight: 500 !important; }

.create-employee-card {
  margin: 15px !important; }
