.contactus-list-container {
  padding: 37px 0px 16px 0px;
}

.contactus-main-card > div {
  padding-top: 42px;
}

.contactus-main-cont {
  height: 100%;
  width: 100%;
  background: #ffffff;
}

.contactus-main-card .mseva-logo {
  // width: 40% !important;
}

.contactus-main-card {
  margin: 0px;
  padding: 0px;
  height: 100%;
  border-radius: 0px;
  box-shadow: none;
}

.citizen-contact-us .searchBoxStyles,
.citizen-contact-us .search-icon,
.citizen-contact-us .myLoc {
  display: none;
}

.citizen-contact-us .map-container {
  z-index: 1111;
}

.citizen-contact-us .back-btn {
  position: absolute !important;
  top: 76px;
  background: transparent;
  margin-left: 15px;
  z-index: 1112;
}

.phoneNumberStyle {
  color: #767676;
}
