.inbox-search-wrapper {
    height: 100%;
    .inbox-search-component-wrapper {
        height: 100%;
        width: 100%;
        .sections-parent {
            height: 100%;
            display: grid;
            grid-template-columns: 20% 1fr;
            gap : 1rem;
            &.inbox {
                .links{
                    .inbox-links-icon{
                        color:#f47738;
                        fill:#f47738;
                        path{
                            fill:#f47738;
                        }
                    }
                }
            }
            &.search {
                display: flex;
                flex-direction: column;
                .section {
                    &.links {
                        display: none;
                    }
                    &.filter {
                        display: none;
                    }
                }
                .search-wrapper {
                    .search-field-wrapper.search.custom-both-clear-search{
                        .search-button-wrapper.search {
                            grid-column: initial;
                        }
                    .search-button-wrapper{
                        .link-label{
                            white-space:initial;
                        }
                        .submit-bar {
                            width: 60%;
                        }
                    }
                }
            }
            }
            &.download {
                grid-template-columns: 100%
            }
            .section {
                min-height: 10rem;
                background-color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
                box-shadow: 0 1px 2px 0 rgb(0 0 0 / 16%);
                &.search-results {
                    min-height: 0;
                }
                &.links {
                    height: 100%;
                    color : #f47738;
                    .inbox-search-links-component {
                        height: 100% !important;
                        width: 100%;
                    }
                }
                &.filter {
                   height: fit-content;
                }
            }
        }
    }
}

@screen sm {
    .employee-main-application-details-for-modal  {
        padding: 0 !important;
    }
    .inbox-search-wrapper {
        .inbox-search-component-wrapper {
            .sections-parent {
                display: flex;
                flex-direction : column;
                .section {
                    &.search-results {
                    }
                    &.links {
                    }
                    &.filter {
                       
                    }
                    &.as-modal {
                        position : fixed;
                        top : 0;
                        height : 100vh;
                        width : 100vw;
                    }
                }
            }
        }
    }
}