.pt-search-table-action {
  width: 104px;
  height: 22px;
  button {
    background-color: #fe7a51 !important;
    height: 23px !important;
    line-height: normal !important;
    span {
      font-family: "Roboto" !important;
      font-size: 12px !important;
      line-height: normal;
      text-align: center;
      color: #ffffff !important;
      padding: 0 !important;
    }
  }
}
.search-no-property-found {
  text-align: center;
  .new-assess-btn {
    width: 25%;
    margin: 0px auto;
  }
  .no-search-text {
    margin-bottom: 17px;
    margin-top: 36px;
  }
}

.search-property-form-pt {
  div > div {
    div:nth-of-type(2) {
      color: rgb(72, 72, 72) !important;
    }
  }
}
.inner-header-style {
  padding: 16px 16px 0px 16px !important;
  justify-content: space-between;
  cursor: "pointer"; }


@media only screen and (max-width: 768px) {
.search-no-property-found {
  .new-assess-btn {
width: fit-content;
 }}
.inner-header-style {
padding: 10px 0px 0px 0px !important; } }

.new-property-assessment {
  height: 48px;
}