.home-page-content {
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 70px;
}

.home-page-content-card-margin {
  margin-top: 20px;
}

.floating-button-cont {
  position: fixed;
  right: 3%;
  bottom: 65px;
}

.complaints-top-level-wrapper {
  padding: 0 8px;
}

.loading-container {
  position: absolute;
  height: calc(100vh - 56px);
  width: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2000;
}
