.custom-form-control-for-textfield input,
.custom-form-control-for-datepicker input {
  border-right: 0 !important;
  border-radius: 5px !important;
  border: 1px solid #ccc !important;
  position: relative !important;
  background-color: #fbfbfb !important;
  -webkit-box-shadow: 0px !important;
  box-shadow: 0px !important;
  padding: 0 10px !important;
  top: 28px !important;
  height: 34px !important;
}

.custom-form-control-for-textfield,
.custom-form-control-for-select {
  margin-bottom: 14px;
}

.custom-form-control-for-textfield label,
.custom-form-control-for-select label {
  font-size: 18px;
}

.custom-form-control-for-textfield hr,
.custom-form-control-for-textarea hr,
.custom-form-control-for-select hr {
  border-bottom: 0px !important;
}

.common-div-css {
  margin: 16px 16px 88px 16px;
}
