.module-page-icon {
  height: 30px;
  width: 30px;
  color: #db251c;
}

.card-content-style {
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .module-card-style {
    min-height: 200px;
  }
}
