.App {
  font-family: sans-serif;
  text-align: center;
}

.select {
}
.select ul {
  list-style: none;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  border-radius: 2px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
}
.select ul li {
  padding-bottom: 5px;
  z-index: 2;
}
.select ul li:hover,
.select ul .hover-style {
  background-color: #b8b8b8;
}
.select input {
  height: 30px;
  border-radius: 1px;
  width: 100%;
  font-size: 18px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid gray;
  position: relative;
  z-index: 2;
}
.select img {
  vertical-align: middle;
}
.select p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
  top: 76%;
  position: relative;
  font-size: 18px;
}
.select .withImage {
  display: flex;
}
.select .dropdown {
  position: relative;
}
.select .dropdown::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid gray;
  margin-right: 2px;
  right: 1%;
  top: 22%;
  z-index: 1;
}
.select .selected-input {
  border-radius: 1px;
  width: 100%;
  font-size: 18px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid gray;
}
