
@media only screen and (min-width: 768px) {
  .menu-list-style{
    width :200px
  }
}

@media only screen and (max-width: 768px) {
  .menu-list-style{
    width: 100%;
  }
  ul.menu-list-style li {
    justify-content: center;
  }
}