.citizen-home-footer{
  min-height: calc( 100vh - 40px );
  @apply flex absolute w-full right-0 h-10 bg-grey-bg pb-md pt-sm justify-center z-50;
    img{
      @apply ml-sm
    }
}
.fill-path-primary-main{
  path{
    fill: #F47738;
  }
}