.home-event {
  padding: 0px;
}
.police-station-card {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 8px 0px 8px 8px;
}

.police-station-card .date {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  color: white;
}

.police-station-rating-cont {
  margin-bottom: 0;
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.police-station-name-cont .label-text {
  font-size: 16px;
  font-weight: 500;
}

.police-station-name-cont .label-container {
  margin-bottom: 5px;
}

.police-station-card .date > div {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.police-station-card .date .day {
  background-color: #00bbd3;
}

.police-station-card .date .month {
  background-color: #7edfeb;
}

.police-station-card .police-station-info-cont {
  flex-grow: 3;
  padding: 5px 12px;
}

.police-station-card .police-station-info-cont .police-station-location-cont {
  display: flex;
}

.police-station-card .police-station-info-cont .police-station-location-cont .location-icon {
  height: 15px !important;
  width: 15px !important;
  color: #767676 !important;
  margin-top: 3px;
}

.police-station-card .police-station-info-cont .police-station-location-cont .label-container {
  display: inline-block;
  margin-left: 10px;
}

.station-image-cont {
  width: 92px;
  height: 92px;
  background-size: cover;
  background-repeat: no-repeat;
}
