<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="org.egovernment.mseva"
	android:installLocation="auto">

	<supports-screens
		android:anyDensity="true"
		android:resizeable="true"
		android:smallScreens="true"
		android:largeScreens="true"
		android:normalScreens="true"
		android:xlargeScreens="true" />
	<!--
        Remove permissions that your app doesn't require, asking for authority over unwanted information can cause damage to your reputation among your users
    -->
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.CAMERA"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<!--<uses-permission android:name="android.permission.RECEIVE_SMS" />-->

	<!-- remove location.gps feature if not using permission ACCESS_FINE_LOCATION -->
	<uses-feature android:name="android.hardware.location.gps" />
	<uses-feature android:name="android.hardware.touchscreen" android:required="false" />

	<application
		android:allowBackup="false"
		android:icon="@string/launcher_icon"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/SplashTheme"
		tools:ignore="AllowBackup">
		<provider
			android:name="android.support.v4.content.FileProvider"
			android:authorities="${applicationId}.provider"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/provider_paths"/>
		</provider>
		<activity
			android:name="org.egovernment.mseva.SplashScreen"
			android:launchMode="singleTop"
			android:label="@string/app_name"
			android:screenOrientation="portrait" >
			<intent-filter
				android:exported="false">
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name="org.egovernment.mseva.MainActivity"
			android:launchMode="singleInstance"
			android:permission="dangerous"
			android:screenOrientation="portrait"> <!-- remove or alter as your apps requirement -->
			<intent-filter
				android:label="@string/app_name"
				android:exported="false"
				>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="https"
					android:host="qa.digit.org"
					android:pathPattern=".*"
					android:pathPrefix="/" /> <!-- if you want only a specific directory from your website to be opened in the app through external links -->
			</intent-filter>
		</activity>
		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version" />
	</application>
</manifest>
