*  @gajendran-egov @sathishp-eGov @kavi-egov
*.yaml  @gajendran-egov @sathishp-eGov @kavi-egov

business-services/ @sathishp-eGov @talele08 @kavi-egov
core-services/ @sathishp-eGov @talele08 @kavi-egov
municipal-services/ @sathishp-eGov @talele08 @kavi-egov


##Frontend
frontend/micro-ui/  @sathishp-eGov @jagankumar-egov 
frontend/micro-ui-internals/ @sathishp-eGov @jagankumar-egov
frontend/mono-ui/ @sathishp-eGov @jagankumar-egov


