@media only screen and (max-width: 768px) {
  #material-ui-applicationSuccessContainer {
    display: grid !important;
    text-align: -webkit-center; }
    #material-ui-applicationSuccessContainer #custom-atoms-tail {
      text-align: center !important; } }
