// #material-ui-propertySearchTabs{
//     background: none !important;
//     box-shadow: 0px 0px 0px 0px !important;
//     margin-top:0px !important;
//       div{
//           div{
//               background: none !important;
//           }
//       }
// }

// #material-ui-propertySearchTabs{
//     div{
//     padding:0px !important;
//     }
//   }

#material-ui-popup{
    height: 100%;
    width: 165px;
}

#material-ui-yearDetailsContainer{div{div{fieldset{div{label{span:nth-child(1){
    height:20px !important;
}}}}}}}

#material-ui-yearDetailsContainer{div{div{fieldset{label{span:nth-child(1){
    font-size:15px;
    font-weight: bolder;
}}}}}}
#material-ui-yearDetailsContainer{div{div{fieldset{label{
    padding-bottom: 10px;
}}}}}