.web-user-logo {
  display: block;

}
@media only screen and (max-width: 768px) {
.login-hl-divider { 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
.login-circle-mobile{
  display: flex;
   width: 50px;
   height:30px;
  justify-content: center;
  align-items: center;
  // margin-left: -33px;
  border-radius: 50%;
  // height: 69px;
  // width: 69px;
  background-color: white;

}
.login-mobile-whatsapp-button{
  display: flex;
  justify-content: center;
}
.login-mobile-whatsapp-icon{
  margin-top: 2px;
  margin-right: 8px;
  color:green !important;
  fill:green !important;
}
.login-cardwidth{
   
  width: 100%;

}
.login-cardwidthmob{
   
  width: 100%;

}
}
@media only screen and (min-width: 768px) {
  .login-cardwidth{
    margin-left: 20%;
    width: 25%;

  }
  .login-vl-divider{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7%;
    margin-right: 2%;
    border-left: 1px solid #F2F2F2;
    //height: 500px;
    margin-top:16px;
    margin-bottom: 16px;


  }
  .login-circle-web{
    display: flex;
    justify-content: center;
    align-items: center;
     margin-left: -33px;
    border-radius: 50%;
    height: 69px;
    width: 69px;
    background-color:#F2F2F2;

  }
  .login-qrscan{
    width: 46%;
    background-color: white;
    margin-top:16px;
    margin-bottom: 16px;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
  }
  // .login-qrlogo{
  //   height: 90% !important;
   // margin-top: 20px;

  // }
  .login-qrtext{
  display: flex;
  justify-content: center;
 
  }
  .login-qrscan > div{
    display: flex;
    justify-content: center;
   // min-height: 90%;
 //  margin-top: 10%;
  }
  .wha-user-screen-card{
    padding: 24px 16px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: 25%;
  width: 50%;
  
  }
}



// @media only screen and (min-width: 768px) {
//   .web-user-logo {
//     display: block;
//   }
//}
