body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.text-center {
  text-align: center;
}

.container-padding {
  margin: 8px;
}

.bx--progress .bx--progress-step--complete
{
  background-color: "#FE7A51"
}

.bx--progress .bx--progress-step--current{
  background-color: "#FE7A51"
}
