.action-bar-wrap{
    box-shadow: rgba(0, 0, 0, 0.16) 0 -2px 8px;
    @apply w-full bg-white py-sm px-sm text-right;

    div{
        @apply w-full;
    }
}

@screen dt{
    .action-bar-wrap{
        box-shadow: rgba(0, 0, 0, 0.16) 0 -2px 8px;
        @apply w-full bg-white py-sm pr-lg text-right;

        div{
            width: 240px;
        }

    }   
}

