.upload-wrap {
  @apply flex w-full h-40 bg-grey-light relative mb-lg px-sm border border-border border-dashed;

  img {
    display: block;
    margin-top: 58px;  
    margin-left: calc(50% - 23px);
    height: 42px;
    width: 46px;
  }  
  svg {
    display: block;
    margin-top: 58px;  
    margin-left: calc(50% - 23px);
    height: 42px;
    width: 46px;
  }

  input {
    @apply absolute w-full h-full opacity-0 top-0;
  }
}

.multi-upload-wrap{

  @apply flex mb-lg;

  div{
    display: block;
    position: relative;
    background-color: #fafafa;
    width: calc((100% - 16px)/3);
    margin-right: 8px;
  
    .delete {
      position: absolute;
      height: 24px;
      width: 24px;
      border-radius: 100%;
      top: 2px;
      right: 2px;
    }
  }    

  .upload-img-container{
    border: 1px dashed #D6D5D4;
    margin: 0 !important;

    img {
      margin-left: auto;
      margin-right: auto;
      padding-top: calc(33% - 21px);
    }

    svg {
      margin-left: auto;
      margin-right: auto;
      top: calc( 50% - 21px);
      position: relative;
    }

    input {
      @apply absolute w-full h-full opacity-0 top-0;
    }
  
  }
}

.success-wrap {
  @apply block bg-success w-full text-center text-white pt-md pb-sm mb-md;
  
  header{
    @apply block mb-sm font-rc font-bold text-heading-xl;
  }

  div {

    img{
      padding: 13.67px;
      margin-left: auto;
      margin-right: auto;
      @apply border border-solid border-white rounded-full h-16 w-16 bg-white mb-md;
    }

    svg{
      padding: 13.67px;
      margin-left: auto;
      margin-right: auto;
      @apply border border-solid border-white rounded-full h-16 w-16 bg-white mb-md;
    }

    h2{
      @apply font-bold text-caption-m mb-sm;
    }

    p{
      @apply font-bold text-caption-l;
    }
    
  }

}

.error-wrap {
  @apply block bg-error w-full text-center text-white pt-md pb-sm mb-md;

  header {
    @apply block mb-sm font-rc font-bold text-heading-xl;
  }

  img {
    margin-left: auto;
    margin-right: auto;
    padding: 13.67px;
    @apply border border-solid border-white rounded-full bg-white h-16 w-16 mb-md;
  }

  svg{
    margin-left: auto;
    margin-right: auto;
    padding: 13.67px;
    @apply border border-solid border-white rounded-full bg-white h-16 w-16 mb-md;
  }
  
}

@screen dt {
  .success-wrap {
    header{
      @apply text-heading-xl-dt
    }
  }

  .error-wrap {
    header{
      @apply text-heading-xl-dt
    }
  }
}

.photos-wrap {
  @apply flex;

  img {
    width: calc(33% - 9.333px);
    margin-right: 14px;
  }

  svg {
    width: calc(33% - 9.333px);
    margin-right: 14px;
  }

  .last {
    width: calc(33% - 9.333px);
  }

}
