.card {
  @apply bg-white m-sm px-sm pt-sm pb-lg shadow-card;

  .card-header {
    @apply text-text-primary text-heading-xl font-bold font-rc align-middle text-left mb-md;
  }

  .card-sub-header {
    @apply text-text-primary text-heading-l font-bold align-middle text-left mb-lg;
  }

  .card-caption {
    @apply text-text-secondary text-caption-xl mb-sm;
  }

  .card-text {
    @apply text-text-secondary text-body-l align-middle text-left mb-lg;

    span{
      @apply text-text-primary
    }
  }

  .card-text-primary{
    @apply text-text-primary text-body-l
  }

  .card-text-button{
    @apply text-primary-main text-text-btn
  }

  .card-label{
    @apply font-bold text-legend text-text-primary mb-md;
  }

  .card-label-error {
    @apply block font-bold text-legend text-error mb-md;
  }

  .card-link{
    @apply block text-center text-link text-link-normal mt-md
  }
}

.submit-bar {
  @apply h-10 bg-primary-main text-center border-b-2 border-input-border border-solid w-full;

  header{
    @apply font-rc font-medium text-legend text-white leading-10;
  }

}

@screen dt {
  .submit-bar {
    width: 240px;
  }

  .card {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 320px;
    padding-left: 16px;
    padding-top: 16px;
    .card-header {
      @apply text-heading-xl-dt
    }

    .card-sub-header {
      @apply text-heading-l-dt
    }

    .card-caption {
      @apply text-caption-xl-dt
    }

    .card-text, .card-text-primary{
      @apply text-body-l-dt
    }
    
    .card-link{
      @apply text-left
    }

  }

}
