.data-table {
  @apply mb-lg text-text-primary;

  div{
    @apply flex border-b border-border pb-sm mb-sm;

    h2{
      width: 30%;
      @apply font-bold text-heading-s;
    }

    p{
      width: 70%;
      @apply text-heading-s;
    }
  }

  .row-last{
    border: none;
    padding: 0;
    margin: 0;
  }
}
