.inbox-container {
  @apply flex justify-center;

  .filters-container {
    width: "270px";
    .complaint-links-container {
      @apply bg-white;
      .header {
        @apply flex items-center border-b border-border;
        .logo {
          background-color: "#F47738";
          @apply p-sm;
          border-radius: "4px";
        }
        .text {
          @apply pl-md;
        }
      }

      .body {
        padding: "10px";
        @apply flex items-start flex-col ml-xl;

        .link {
          @apply p-sm;
        }
      }
    }
    .filter {
      @apply mt-md;
    }
  }
  .search-container {
    width: "874px";
    @apply mb-lg;
  }
}
