.card-input {
  @apply mb-lg pl-sm outline-none mt-sm block border-2 w-full h-10 border-input-border border-solid bg-white leading-10 text-form-field text-text-primary;
}

.card-input-error {
  @apply mb-lg pl-sm block w-full h-10 outline-none border-2 border-error border-solid bg-white leading-10 text-form-field text-text-primary;
}

.card-textarea {
  @apply block outline-none mt-md mb-lg border-2 w-full border-input-border border-solid bg-white h-24 text-form-field text-text-primary;
}

@screen dt {
  .card-input {
    width: 480px;
  }

  .card-input-error {
    width: 480px;
  }

  .card-textarea {
    width: 480px;
  }
}
