.home-page-content {
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 70px; }

.home-page-content-card-margin {
  margin-top: 20px; }

.row-body {
  overflow: hidden;
  margin-bottom: -8px;
  margin-left: -16px !important; }

.left-side {
  padding-bottom: 10000px;
  margin-bottom: -10000px;
  height: 100%; }

.zeroPadding {
  padding: 8 !important; }

.comment-section {
  margin-left: -8px;
  margin-right: -8px; }

.complaint-detail-detail-section-location-section {
  margin-top: 17px;
  margin-bottom: -25px;
  display: inline-flex; }

.share-btn button {
  background-color: #00bbd3; }

@media only screen and (max-width: 768px) {
  .share-btn {
    position: fixed;
    top: 14px;
    right: 11px;
    z-index: 9999;
    color: #ffffff; }
    .share-btn button {
      color: #ffffff;
      right: 16px;
      position: initial;
      width: 100%;
      height: 100%;
      padding: 0;
      min-width: 0;
      box-shadow: none;
      border-radius: 50%;
      border-radius: initial;
      background-color: #00bbd3; } }
