.bpa_doc_upload_btn
.preview_upload_btn{
  width:100% !important;
  display:inline-block;
}

.divellip > button > span > div {
  display: inline-block;
  width:98px !important;
  text-overflow: ellipsis !important;  
  white-space: nowrap;
  overflow: hidden;
}
.divellip{
  position: relative;
}
.bpa_doc_upload_btn > div > div > div > button,
.preview_upload_btn > div > div > div > button {
  min-width: 61% !important;
  margin-bottom: 10px;
  text-align: center;
}

.divellip > button > span > div:hover {
overflow: visible;
width: auto;
}