.rainmaker-card {
  color: rgb(95, 92, 98);
  background-color: rgb(255, 255, 255);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-sizing: border-box;
  font-family: Roboto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  border-radius: 4px;
  z-index: 1;
  margin: 16px 0px;
  padding: 12px 8px;
}

// .clearfix:after, :after, .container-fluid:after, .row:after {
//   clear: both;
// }
