.radio-root {
  margin-bottom: 0;
  height: 30px;
  color: #fe7a51;
  width: 35px;
}

.radio-button-label {
  margin-bottom: 0;
  margin-right: 20px;
  letter-spacing: 0.58px;
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
}

@media only screen and (max-width: 551px) {
  .apply-wizard-footer {
    background-color: #ffffff;
    -webkit-box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.24);
    /* padding: 8px; */
    position: fixed !important;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: right;
    display: flex;
    padding: initial;
  }

  .apply-wizard-footer button {
    width: 100% !important;
    margin: initial;
    border: none;
    margin: 0 !important;
    border-radius: none !important;
  }
}
