.radio-wrap {
  @apply my-sm block leading-10 mb-lg;

  div{
    @apply block mb-md
  }

  .radio-btn-wrap {
    @apply block float-left relative;
  }

  .radio-btn {
    @apply opacity-0 absolute cursor-pointer h-10 w-10;
  }

  .radio-btn-checkmark {
    @apply h-10 w-10 border-2 border-input-border border-solid rounded-full block;
  }

  label{
    @apply text-text-primary text-form-field ml-md;
  }

  .radio-btn-wrap:hover input ~ .radio-btn-checkmark {
    @apply shadow-radiobtn rounded-full;
  }

  .radio-btn:hover ~ .radio-btn-checkmark {
    @apply border-primary-main;
  }

  .radio-btn-checkmark:after {
    content: "";
  }

  .radio-btn:hover ~ .radio-btn-checkmark {
    @apply border-primary-main;
  }

  .radio-btn-wrap input:checked ~ .radio-btn-checkmark {
    @apply border-primary-main;
  }

  .radio-btn-wrap input:checked ~ .radio-btn-checkmark:after {
    @apply block bg-primary-main h-5 w-5 rounded-full absolute top-10 left-10;
  }

}
