@media only screen and (max-width: 551px) {
  .apply-wizard-footer {
    background-color: #ffffff;
    -webkit-box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.24);
    /* padding: 8px; */
    position: fixed !important;
    bottom: 0;
    left: 0;
    width: 100vw;
    text-align: right;
    display: flex;
    padding: initial;
  }

  .apply-wizard-footer button {
    width: 100% !important;
    border: none;
    margin: 0 !important;
    border-radius: none !important;
  }
  .apply-wizard-footer1 {
    width: 100% !important;
    border: none;
    margin: 0 !important;
    border-radius: none !important;
  }

}
@media only screen and (min-width: 551px) {
  .apply-wizard-footer1 {
    margin-right:20px !important;
  }
}
.downloadprint-commonmenu {
  text-align: "right"; 
  display: "flex" ;
}