.pt-review-form-field {
  div:last-child {
    display: none;
  }
}
.pt-rf-edit-icon {
  float: right;
}
.pt-rf-icon {
  position: relative;
  top: 4px;
}

@media only screen and (max-width:768px){
  .claculation-details-content{
    width: 75% !important;
  }
}
