.mihy-app-carosel{
  border-radius: 50%;
  height: 120px;
  position: relative;
  width: 120px;
  left: -31px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.mihy-app-carosel-card{
  padding: 8px;
  border-radius: 3px;
  height: 185px;
  background: white;
  margin-bottom: 16px;
}
