@media only screen and (max-width: 768px) {

    .search-preview-header{
        
        display: grid !important;
        margin-bottom: 15px !important;
    }
    .header-buttons{
        margin-top: 10px !important;
        div{
            div{
                button{
                    display: block !important;
                    height: 70px !important;
                    width: 70px !important;
                }
            }
        }
    }
}