@media only screen and (max-width: 768px) {
  #material-ui-applicationSuccessContainer {
    display: flex !important; }
    #material-ui-applicationSuccessContainer #custom-atoms-tail {
      text-align: center !important; } }
  @media only screen and (max-width: 768px) and (max-width: 768px) {
    #material-ui-applicationSuccessContainer {
      text-align: center; } }

@media only screen and (max-width: 768px) {
  .common-footer {
    width: 100%; }
  .common-footer-mobile {
    width: 100%;
    left: 0 !important; } }

@media only screen and (min-width: 768px) {
  .footer-com-style {
    float: right; } }
