body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif !important;
}

table th, table td {
  vertical-align: middle !important;
  font-weight: 500;
  font-size: 12px;
}

.fullWidth {
  width:100% !important;
  height:64px !important;
  margin-bottom: 5px;
}

.selectOption>div {
  margin-top:4px !important;
}

.selectOption div {
  line-height: 64px !important;
}

.fullWidth label {
  top:26px !important;
}

.selectOption button {
  top:6px !important;
}

.fullWidth input{
  margin-top: 10px !important;
}

label {
    font-weight: normal;
}

.datepicker>div {
  height: 64px !important;
}

.darkShadow {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 6px, rgba(0, 0, 0, 0.4) 0px 1px 4px !important;
}

@media (min-width: 992px) {
.col-md-6 {
    width: 50% !important;
}
}
