.label-container {
  display: block;
}
.button-label-container {
  display: inline;
}

.label-text,
.label-icon {
  display: inline-block;
  vertical-align: middle;
}

.label-text {
  letter-spacing: 0.3px;
  font-weight: 400;
}

.label-icon > svg {
  margin-right: 0px !important;
}

.label-container .label-text {
  width: 100%;
  word-break: break-word;
  word-wrap: break-word;
}
