@media only screen and (max-width: 551px) {
  .apply-wizard-footerReq {
    background-color: #ffffff;
    -webkit-box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.24);
    /* padding: 8px; */
    position: fixed !important;
    bottom: 0;
    left: 0;
    width: 100vw;
    text-align: right;
    display: flex;
    padding: initial;
  }

  .apply-wizard-footerReq button {
    width: 100% !important;
    margin: initial;
    border: none;
    margin: 0 !important;
    border-radius: none !important;
  }
}

@media only screen and (min-width: 768px) {
  .apply-wizard-footerReq {
    background-color: #ffffff;
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.24);
    padding: 8px;
    // position: fixed !important;
    bottom: 47;
    left: 48;
    width: 93.66vw;
    text-align: right;
    overflow: inherit !important;
  }
}

.footerSticky {
  position: sticky;
  bottom: 2px;
}

.fixedHeader {
  position: sticky;
  background: white;
  top: 0px;
  padding-top: 10px;
}