.flex-container {
  display: flex;
  flex-direction: row !important;
  flex-wrap: wrap;
  margin-left: 8px;
}

.flex-child {
 
 

}

.flex-child {
  div {
    min-width: 100px !important;
    button {
      div {
        div {
          height: 30px !important;
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .flex-child {
    div {
      min-width: 60px !important;
    }
  }
}