.flex-container {
  display: flex;
  flex-direction: row !important;
  flex-wrap: wrap;
  margin-left: 8px;
}

.flex-child {
 
  margin: 5px;


}

.flex-child {
  div {
    min-width: 100px !important;
    button {
      div {
        div {
          height: 33px !important;
        }
      }
    }
  }
}
