.flex-container {
  display: flex;
  flex-direction: row !important;
  flex-wrap: wrap;
  margin-left: 8px;
}

.flex-child {
  div {
    min-width: 100px !important;
    div {
      button {
        div {
          div {
            span {
              padding-left: 0px;
              padding-right: 0px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .totaldues-tooltip-icon {
    padding-top: 0px !important;
  }
}