.flex-container {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    margin-left: 8px;
  }

.flex-child {
  width: 190px;
  margin: 10px;
  text-align: left !important;
}

.value {
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.67px;
    line-height: 19px;
    text-align: left;
  }

.left-line {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
}

.bottom-line {
    background-color: rgba(0, 0, 0, 0.12);
    width: 878px;
    height: 1px;
    margin-left: 16px;
  }