@media only screen and (max-width: 551px) {
    .pt-apply-wizard-footer {
      background-color: #ffffff;
      -webkit-box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.24);
      box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.24);
      /* padding: 8px; */
      position: fixed !important;
      bottom: 0;
      left: 0;
      width: 100vw;
      text-align: right;
      display: flex;
      padding: initial;
    }
  
    .pt-apply-wizard-footer button {
      width: 100% !important;
      margin: initial;
      border: none;
      margin: 0 !important;
      border-radius: none !important;
    }
  }
  .applicant-details-error{p{
    font-size: 14px;
  }}
  #custom-containers-propertyMohalla{div{p{
    font-size: 14px;
  }}}
  #material-ui-transfereeDetails, #material-ui-registrationDetails {
    overflow: visible;
  }
  .autocomplete-dropdown {
    min-width: 80%;
    position: absolute;
    z-index: 1900;
    max-height: 150px;
    overflow: hidden;
  }
  .autocomplete-dropdown div {
	min-width: 80%;
	max-height: 150px;
    overflow: auto;
  }

  