.actionMenuSearchBox {
  background-color: #3d4951 !important;
  color: white;
  height: 40px !important;
  margin-top: 22px;
}

.whiteColor {
  color: white !important;
}

.pointerCursor {
  cursor: pointer;
}

.actionMenuFibreIcon {
  width: 8px;
  height: 8px;
}
.actionMenuMenu {
  display: inline-block !important;
  padding: 0px !important;
  min-width: 100%;
}

.custom-style-for-send {
  transform: rotate(-20deg);
}
