.dss-switch-tabs{/* Card / Primary */

/* Light Theme / Paper */

background: #FFFFFF;
/* Card-Shadow */

box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16);
border-radius: 4px;
margin-bottom:3%;
margin-right:25px;
}

.dss-header-label{
  font-weight: 600 !important;
  font-size: 22px !important;
  white-space: pre-line;
}
.dss-switch-tab-wrapper{
    cursor:pointer;
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
}

.dss-switch-tab-selected{
  /* Revenue */
  padding: 7px;
  border-bottom:3px solid #F47738;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 24px;

color: #F47738;

}
.dss-switch-tab-unselected{

    padding: 10px;

/* Desktop / Caption M */

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 19px;

color: #505A5F;
}

.dss-table-subheader{
  position: relative;
    top: -7px;
    font-size: 13px;
    font-weight: 400;
    color: rgba(80, 90, 95, 1);
}
.recharts-legend-item{
  margin-bottom: 20px !important;
  white-space: pre;
}

@media screen and (max-width: 768px) {
  .dss-switch-tabs{/* Card / Primary */
    margin-right:0px;
  }
}

.dss-white-pre{
  white-space: pre;

}
.dss-white-pre-line{
  white-space: pre-line;

}