.popup-module {
  width: 480px;
  margin: 0 auto;
  @apply bg-white;

  .popup-module-main {
    @apply px-lg pb-lg;
  }

  .popup-module-action-bar {
    gap: 16px;
    @apply flex flex-row justify-end;
  }
}

@screen dt {
  .popup-module {
    width: 480px;
    margin: auto;
    @apply bg-white;

    .popup-module-main {
      @apply px-lg pb-lg;
    }
    .popup-module-main {
      @apply w-full p-sm h-full;
    }

    .popup-module-action-bar {
      gap: 16px;
      @apply flex flex-row justify-end;
    }
  }
}

.popup-module-main {
  iframe #page-container div {
    width: 99% !important;
    margin: 5px !important;
  }

  iframe #page-container {
    ::-webkit-scrollbar {
      width: 0px !important;
    }
  }
}
