.scroll-table-wrapper{
    &::-webkit-scrollbar {
        display: none;
    }  
    -ms-overflow-style: none;
    scrollbar-width: none; 
    @apply relative overflow-x-scroll overflow-y-visible pb-sm text-center;

    .scroll-table-width-wrapper{
        &::-webkit-scrollbar {
            display: none;
        }  
        -ms-overflow-style: none;
        scrollbar-width: none; 
        width: calc(100% - 110px);
        margin: auto;
        @apply overflow-x-scroll;
        table{
             margin: auto;
         }
    }
    
    .first-col{
        width:110px; 
        @apply absolute left-0;
    }
    
    .last-col{
        width:110px; 
        @apply absolute right-0;
    }
}

@screen dt{
    .scroll-table-wrapper{
        width: 60%;
    }
}