.updateNumberEmployee{
    width: 100%;
    .employee-data-table .row h2{
        font-weight:500;
        width: 100%;
    }
    .submit-bar {
        position: relative;
    }
    .search-form-wrapper {
        justify-content: initial;
    }
}