.autocomplete-dropdown {
    min-width: 80%;
    position: absolute;
    z-index: 1900;
    max-height: 150px;
    overflow: hidden;
  }
  .autocomplete-dropdown div {
	  min-width: 80%;
	  max-height: 150px;
    overflow: auto;
  }