.bpa-feature-content{
	padding-top: 56px;
	padding-bottom: 60px;
	background: #F4F7FB;
}

.feature-header{
	display: flex;
	align-items: center;
	color: rgba(0, 0, 0, 0.87);
	font-size: 24px;
	letter-spacing: 1px;
	line-height: 29px;
	text-align: center;
}

.bpa-feature{
	min-height: 250px;
}

.bpa-feature-card{
	background-color: #FFFFFF;
	border: 0.5px solid rgba(255, 255, 255, 0.8);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
	min-height: 250px;
	padding: 10px
}

.bpa-card-cont{
	padding-left: 20px;
	padding-right: 0px;
}

.feature-heading{
	color: rgba(0, 0, 0, 0.87);
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 1.14px;
	line-height: 19px;
	text-align: center;
	margin-bottom: 8px;
}

.feature-description{
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 20px;
	text-align: center;
}

.feature-icon-background{
	width: 64px;
	height: 64px;
	border-radius: 100%;
	background: #F4F7FB;
	margin: 0 auto;
}

.feature-icon-cont{
	margin:0 auto;
	margin-bottom: 16px;
}

.bpa-feature-bottom-card{
	background-color: #FFFFFF;
	border: 0.5px solid rgba(255, 255, 255, 0.8);
	border-top: 8px solid #FE7A51;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
	min-height: 140px;
	color: rgba(0, 0, 0, 0.87);
	font-size: 24px;
	line-height: 29px;
	margin-top: 35px;
}


.bpa-citizen-info{
	background: #fff;
	padding-top: 36px;
	padding-bottom: 24px;
}

.citizen-info-list-item{
	background-color: #F4F7FB;
	height: 100px;
	padding: 8px;
	margin-bottom: 16px;
}

.citizen-info-list-cont{
	margin-top: 26px;
}

.info-list-icon-cont{
	width: 70px;
	height: 70px;
	border-radius: 100%;
	background: #fff;
	margin-right: 17px;
}

.bpa-login-footer{
	background: #263238;
	padding-top: 24px;
	padding-bottom: 30px;
}

.tutorial-item{
	opacity: 0.7;
	margin-bottom: 10px;
}

.footer-list-content a{
	text-decoration: none;
	color: #fff !important;
}

.footer-list-content{
	padding-right: 60px;
	padding-left: 0;
}

.footer-contact-info-cont{
	opacity: 0.7;	
}

.footer-icon-info-cont{
	display: flex;
	margin-top: 15px;
}

.footer-icon{
	margin-right: 8px;
}

.feature-icon-background img{
	width: 40px;
}

.info-list-image{
	width: 38px;
}

.citizen-info-big-img{
	width: 400px;
}

.citizen-info-big-img-cont{
	text-align: center;
}
