body {
  background-color: #34495e;
}
.header-icon {
  height: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 24px;
}
.landingpage-card-content {
  padding: 0px !important;
  display: block;
  border-bottom: none;
  margin-bottom: 0px;
  outline: none;
}
.landingpage-card {
  margin: 24px 50px 10px;
}
.card-header {

  text-align: center;
  font-size: 20px !important;
  font-weight: bold;
  color: #6c8ca1;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.landingpage-card-description {
  margin-bottom: 10px;
  padding-bottom: 60px;
  padding-right:  10px;
  padding-left:  10px;
  text-indent: 20px;
  text-align: justify;
  color: black;
  font: 'Open Sans';
}
.landingpage-card-description-citizen {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 100 !important;
  padding-bottom: 60px;
  padding-right:  10px;
  padding-left:  10px;
  text-indent: 20px;
  text-align: justify;
  color: black;
  font: 'Open Sans';
}
p {
  margin: 0 0 20px;
}
.landingpage-card-icon-description {
  text-align: center;
   color: #3d4951;
  
  font-weight:bold; 
}
.landingpage-card-down-arrow {
  text-align: center !important;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.landingpage-card-up-arrow {
  text-align: center !important;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.card-body {
  border: none !important;
  padding: 0px;
  outline: none;
}
.card-collapse {
  border: none;
  box-shadow: none;
}
.card-collapse-header {
  border: none !important;
  padding: 0px;
  margin-bottom: 0px;
  outline: none;
}
.landingpage-font-style {
  font-size: 14px;
  font-weight: 500;
  background:#F8F9F9;
}
.help-document-font-style {
  font-size: 14px;
  font-weight: 500;
}
footer.lastfooter {
  width: 100%;
  height: 140px;
  bottom: 0;
  left: 0;
  background: #6b4f2c;
  line-height: 24px;
  padding: 18px 20px;
  font-size: 13px;
  /*color: #746565;*/
  text-align: left;
}
.main-padding {
  padding: 0px 40px;
}

.help-documents-card {
  padding-left: 24px;
  padding-bottom: 100px;
  /*overflow: auto;*/
  height: 250px;
}

.dashboard-card {
  padding-top: 0px;
  padding-right: 110px;
  padding-left: 110px;
  padding-bottom: 40px;
  margin: 0px !important;
}
.dashboard-card-parent {
  height: 400px;
}

.line-spacing {
  padding-bottom: 8px;
}

.header-padding {
  padding-top: 24px;
}

.dashboard-icon-style {
  width: 60px;
  height: 60px;
}

.application-number {
  font-size: 48px;
  font-weight: 500;
  color: #3d4951;
}

.application-recieved {
  font-size: 20px;
  font-weight: 500;
  color: #3d4951;
}

.left-cont {
  padding-top: 10px !important;
}

.dashboard-card-content {
  text-align: right;
  padding-bottom: 5px !important;
  /* padding: 0px !important; */
}

/* .dashboard-cards-style {
  padding-bottom: 50px;
  box-shadow: none;
  margin: 0px;
} */

.lp-header {
  z-index: 4;
  position: absolute;
  top: 0px;
  height: 120px;
  width: 100%;
  background: transparent;
  /* display: inline-flex; */
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding-top: 28px;
}
.top-image img {
  width: 100%;
  height: 557px;
}

.lp-logo img {
  border-radius: 50%;
  width: 66px;
  height: 66px;
  background: url("../assets/city_logo.png") no-repeat;
  float: left;
  margin: 0px 16px 10px 52px;
}

.lp-municipal-council {
  margin-top: 16px;
}

.lp-egov-logo img {
  width: 283px;
  height: 64px;
  margin-right: 35px;
  float: right;
}

.lp-login-text {
  margin-top: 22px;
  margin-right: 56px;
}

.lp-login-text::before {
  background: url("");
}
.row-hide {
  display: none !important;
}

.page-desc {
  z-index: 5;
  width: 376px;
  height: 210px;
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
  right: 50px;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: justify;
  color: #ffffff;
  padding: 16px;
}
.page-desc-title {
  font-size: 20px;
  height: 20px;
  margin-bottom: 16px;
}

.lp-footer {
  height: 169px;
  width: 100%;
  color: white;
  display: flex;
  flex-wrap: wrap;
  padding: 40px 50px 0px 50px;
}

.address,
.phone {
  width: 50%;
  text-align: center;
}

.address img,
.phone img {
  width: 28px;
  height: 36px;
}

.add-text,
.no-text {
  margin-top: 20px;
  margin-bottom: 3px;
}

.lp-login-text img {
  color: white;
  width: 24px;
  height: 24px;
  margin-right: 24px;
}

.lp-login-text {
  color: white;
  display: inline-flex;
}
.lp-col-margin {
  margin-left: 3% !important;
  padding: 0px !important;
}
.video {
    height: 0;
    position: relative;
    padding-bottom: 56.25%;
}
.video iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.video-play {
  box-shadow: 0 1px 6px rgba(0,0,0,.12), 0 1px 4px rgba(0,0,0,.12);
  border-radius: 15px;
}

.videos-container-element {
  justify-content: space-between;
  display: flex;
  margin: 20px;
}

.video-play video {
  margin: 8px;
}

.video-container-card {
  padding-bottom: 20px;
}

.landingpage-card-icon-description:hover{
    overflow: visible;
    white-space: normal;
    height:auto;
}

.social-media-contact-container {
  background-image: url("/egi/resources/guide/assets/footer image.jpg"); 
  min-height: 320px;
    display: flex;
    justify-content: space-around;
}

.social-media-contact-container .logo {
  display: flex;
    justify-content: center;
    flex-direction: column;
}

.social-media-contact-container .item-list {
  padding-top: 44px;

}

.social-media-contact-container .social-media .media-link {
  margin-right: 11px;
}


.social-media-contact-container .subheader {
  font-size: 18px;
  font-weight: 700;
}

.social-media-contact-container a {
  color: #fff;
}

.social-media-contact-container .contact-us .contact-mode-container li{
  margin-bottom: 8px;
}

.social-media-contact-container .contact-us .contact-mode-container i{
  padding-right: 8px;
}

.card-subheader {
	text-align: left;
	padding-left: 25px;
}

.video-documents-csrd .landingpage-card-icon-description {

  color: #3d4951;

  font-weight:bold;
  text-overflow: ellipsis;
    overflow: hidden;
    width: 314px;
    white-space: nowrap;
    padding-left: 9px;
    text-align: center;
}

.video-documents-csrd .landingpage-card-icon-description:hover{
    overflow: visible;
    white-space: normal;
    height:auto;
}

.logo-container {
	display:flex;
	justify-content: space-between;
	background-image: url("/egi/resources/guide/assets/helpbacklogo.png"); 
}

.landingpage-card-video {
	margin: 0px 50px 10px;
}