@media only screen and (max-width: 768px){
.flex{
    display: flex;
   
}
.rainmaker-topHeader{
    margin-top: 15px !important;
    padding-top: 20px !important;
}
.quick-action-button{
    display: none;
}

}