@media only screen and (min-width: 768px) {
    .tl-download-button {
      margin-left: 10px;
      width: 180px;
    }
    .tl-print-button {
      margin-left: 10px;
      width: 150px;
    }
  }

  @media only screen and (max-width: 768px) {
    .tl-download-button {
      margin-left: 5px;
      margin-right: 5px;
      width: 178px;
    }
    .tl-print-button {
      margin-left: 5px;
      width: 140px;
    }
    div#custom-atoms-rightdiv {
      width: 100%;
    }
  }
