.privacy-container {
  padding: 20px 20px;
  background: #fff;
}

.privacy-main-header,
.privacy-sub-header,
.privacy-bold {
  color: #484848;
}

.privacy-main-header {
  font-size: 22px;
  margin-top: 0;
}

.privacy-sub-header {
  font-size: 15px;
}

.privacy-bold {
  font-size: 12px;
  font-weight: 900;
}

.privacy-container p {
  font-size: 12px;
  color: #484848;
}
