div[class^=MUIDataTable-responsiveScroll] thead {
  background: #F2F2F2;
}

div[class^=MUIDataTableHeadCell-data] {
  color: rgba(0, 0, 0, 0.8700000048);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
}

table tbody  tr  td {
  padding:4px 8px 4px 24px !important;
}

@media only screen and (max-width: 960px) {
  table tbody tr td {
    width: 50% !important;
    padding:4px 8px 4px 10px !important;
    font-size: 14px !important;
    height: auto !important;
    white-space: pre-wrap !important;
  }
}
