.dropdown {
  box-sizing: border-box;
}
@media only screen and (max-width: 768px) {
  div#menu- { div[role="document"]{
  width:300px;
  overflow-y: scroll;
  max-height: 40% !important;
  }
  }}

  div#menu- { div[role="document"]{
    width:300px;
    overflow-y: scroll;
    height: 187px;
    }}