.dialogue-question {
  margin: 16px 10px 0px 10px;
  text-align: center;
  color: #484848;
  font-size: 18px;
}

.year-range-botton-cont {
  padding: 16px 0px;
}

.year-dialog-content {
  max-width: 370px !important;
}