/* body{
    background: linear-gradient(rgba(255,255,255,.5), 
    rgba(255,255,255,.5));
} */
/* .common-background{
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("/assets/Punjab-bg-QA.jpg"));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */

.common-background{
    background-size: cover!important;
}
@media only screen and (max-width: 750px) {
    .header-logo 
    {
        width : 80% !important;
    } 
    .common-background {
        background-size: cover!important;
        height: 1300px !important;
    }
    #buttonlink
    {
        margin-top : 15px;
        width:120px !important;

    }
    #buttonlink2
    {
        width:120px !important;

    }
}

.common-grid
{
    padding: 16px 30px !important;
}

