.pt-reciept-top-cont {
  text-align: center;
  padding-top: 10px;
}

.pt-reciept-label {
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
}

// .pt-success-receipt {
//   margin-left: 34%;
//   margin-right: 34%;
// }
