.pt-application-card {
  min-height: 204px;
}

.application-card {
  margin-top: 80px;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .application-card {
    margin-top: 0px !important;
  }
}

@media only screen and (max-width: 768px) {
  .application-card {
    margin-top: 0px;
  }
}
