<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	   default-lazy-init="false">

    <context:component-scan base-package="org.egov.client" />

	<bean id="transactionTemplate" class="org.springframework.transaction.support.TransactionTemplate">
	   <property name="transactionManager" ref="transactionManager" />
        </bean>

	
</beans>
