.info-box {
  min-width: 60px;
  height: 33px;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.24);
}

.info-box {
  min-width: 60px;
  height: 33px;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.24);
}

.searchBoxStyles {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid transparent;
  width: 94%;
  height: 45px;
  margin: 10px;
  padding: 0 12px;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  outline: none;
  -o-text-overflow: ellipses;
  text-overflow: ellipses;
  padding-left: 30px;
  font-family: Roboto;
  letter-spacing: 0;
  text-align: left;
  color: #484848;
  padding-left: 48px;
}

.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0px !important;
}

.my-location {
  position: absolute !important;
  top: 0;
  right: 0;
}


.search-icon {
  position: absolute !important;
  background: transparent;
  margin-left: 20px;
  top: 20px;
}

.dragInfoBox {
  top: 230px;
  margin-left: 32px;
  width: 82%;
  height: 40px;
  background-color: #f89a3f;
  position: absolute;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0.6px;
  text-align: center;
  padding-top: 12px;
}
.dragInfoBox span {
  color: #ffffff;
}
