/* ******************** Custom Fonts ***************************/

@font-face {
  font-family: Roboto_Light;
  src: url(../../fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: Roboto_Medium;
  src: url(../../fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: Roboto_Regular;
  src: url(../../fonts/Roboto-Regular.ttf);
}

/* **************************************************************** */

/*************************** Common Css **************************/

.padding0 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.bold{
	font-weight: 500
}

.f-light{
	font-family: Roboto_light !important;
}

.f-medium{
	font-family: Roboto_Medium !important;
}

.f-regular{
	font-family: Roboto_Regular !important;
}

.color-white{
	color: #ffffff !important;
}

.page-common-padding{
	padding-left: 50px !important;
	padding-right: 50px !important;
}

.bpa-card-new{
	background-color: #FFFFFF;
	border: 0.5px solid rgba(255, 255, 255, 0.8);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
}

.login-input-label{
	margin:0;
	color: rgba(0, 0, 0, 0.6);
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.5px;
	line-height: 14px;
}

.login-input{
	height: 30px !important;
	color: rgba(0, 0, 0, 0.38);
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.67px;
	line-height: 19px;
}

.btn-login-new{
	background-color:#FE7A51 !important;
	height: 50px !important;
}

.center-align-flex{
	display: flex;
	justify-content: center;
	align-items: center;
}

.bpa-common-header{
	color: rgba(0, 0, 0, 0.87);
	font-size: 24px;
	font-weight: 500;
	line-height: 29px;
}

.bpa-common-header2{
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
}

.bpa-common-text{
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}

/* **************************************************************** */

/**************************** Element CSS **************************/


.login-main-bg{
	width: 100%;
}

.login-cont{
	width: 100%;
}

.login-bg-cont{
	position: relative;
	background: url("/egi/resources/global/images/background-banner.jpg") no-repeat;
	background-size: cover;
}

.blue-background{
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:#4A90E2;
	opacity: 0.8;
	z-index: 2
}

.login-content-wrapper{
	position: absolute;
	z-index: 3;
}

.new-login-header{
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
}

.login-title-1{
	font-size: 24px;
	display: flex;
	align-items: center;
}

.login-title-2{
	font-size: 45px;
	letter-spacing: 4.5px;
	
}

.login-action-cont{
	margin-top: 50px;
	margin-bottom: 30px;
	display: flex;
}

.new-login-content{
	padding-top: 30px;
}

.create-button{
	background: #fff;
    border-radius: 25px;
    text-align: center;
    font-size: 16px;
    padding: 15px 10px;
}

.application-card{
	padding: 16px 20px;
}

.forgot-password-text{
	color: #FE7A51;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	text-align: right;
}

.login-card-header{
	color: rgba(0, 0, 0, 0.87);
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
}

.login-right-cont{
	display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    margin-bottom: 20px;
}

.bpa-feature-wrapper{
	background: #F4F7FB;
}

.login-create-link{
	text-decoration: none;
	color: rgba(0, 0, 0, 0.87);
}

.login-create-link:last-child{
	margin-left: 10px;
}

.forgot-password-text span:hover{
	cursor: pointer;
}

.login-modal-new{
	box-shadow: none !important;
	background-color: transparent !important;
	max-height: 100% !important;
}


/* **************************************************************** */
