.employee-change-password {
  background: white;
  height: calc(100vh - 64px);
}

.employee-change-passwd-submit {
  box-shadow: none !important;
  z-index: 1000;
}

.employee-change-passwd-screen {
  padding-bottom: 0px !important;
}
