.title {
	position: static;
	left: 0px;
	top: 5px;
	height: 16px;
	font-family: Roboto;
	color: #505A5F;
	font-style: normal;
	font-weight: normal;
	line-height: 16px;
	font-size: 14px;
	margin-top: 8px;
	margin-bottom: 8px;
}
.accordion-content {
	position: static;
	left: 0px;
	top: 5px;
	font-family: Roboto;
	color: #505A5F;
	font-style: normal;
	font-weight: normal;
	line-height: 16px;
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 10px;
}