.availableOptionItem{
    border: 1px solid #D6D5D4;
    border-radius: 10px;
    height: fit-content;
    max-width: fit-content;
    background: #FAFAFA;
    padding:4px 8px;
    margin: 10px;
    margin-left: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    font-weight:400;
    color: #F47738;
    box-sizing: border-box;
    cursor: pointer;
}