.CitizenHomeCard{

    @apply bg-white mx-md p-md mb-lg;

    .header{
        @apply flex font-bold text-heading-l text-text-primary justify-between pb-sm;

        svg{
            width: 33px;
            height: 33px;
        }
    }

    .links{
        @apply text-heading-s text-primary-main;

        a{
            @apply block pb-sm;
        }
    }
}

@screen dt{

    .citizenAllServiceGrid{
        @apply grid grid-cols-2 gap-4;
      }

    .CitizenHomeCard{
       
        min-width: 40%;
        margin-left: 0;
        @apply inline-block mr-lg p-lg align-top;
        .header{
            @apply pb-lg text-heading-l-dt;
            svg{
                @apply w-12 h-12;
            }
        }
    
        .links{
            a{
                @apply pb-md
            }
        }
    }
}