.CitizenHomeCard {
  @apply bg-white mx-md p-md mb-lg;

  .header {
    @apply flex font-bold text-heading-l text-text-primary justify-between pb-sm;

    svg {
      width: 33px;
      height: 33px;
    }
  }

  .links {
    @apply text-heading-s text-primary-main;

    a {
      @apply block pb-sm;
    }
  }
}

@screen dt {
  .citizenAllServiceGrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2rem;
    margin-left: 7rem;
  }

  .CitizenHomeCard {
    min-width: 40%;
    margin-left: 0;
    @apply inline-block mr-lg p-lg align-top;
    .header {
      @apply pb-lg text-heading-l-dt;
      svg {
        @apply w-12 h-12;
      }
    }

    .links {
      @apply grid grid-cols-4 gap-px;
      .linksWrapper {
        border-left: 1px solid #d6d5d4;
        height: 25px;
        margin-bottom: 0.5em;
      }
      a {
        @apply pb-md;
        padding-left: 0.2em;
        margin-bottom: 16px;
      }
    }
  }
}
