.customBtn {
  @apply bg-white text-text-primary  box-border inline-block outline-none px-sm border border-solid border-primary-main;
  margin: 0px 4.65% 0px 0px;
  height: 30px;
  line-height: 30px;
}

.customBtn-selected {
  @extend .customBtn;
  @apply bg-primary-main text-white font-medium;
}
