.image-viewer-wrap {
  @apply bg-text-primary p-md top-0 left-0 z-20 fixed w-full h-full;

  svg {
    top: 90px;
    right: 16px;
    @apply absolute h-6 w-6;
  }

  img {
    margin-top: 40%;
    @apply max-w-full h-auto;
  }
}

@screen dt {
  .image-viewer-wrap {
    @apply flex fixed top-0 left-0 w-full h-full z-20 bg-text-primary p-md;

    svg {
      top: 90px;
      right: 16px;
      @apply absolute h-6 w-6;
    }

    img {
      width: auto;
      height: auto;
      max-width: 640px;
      margin: auto;
    }
  }
}
