.info-banner-wrap {
  @apply bg-link-normal bg-opacity-25 m-sm p-md;
  max-width: 960px;

  background-color: #C7E0F1;
  border-radius: 4px;
  svg {
    margin-top: 5px;
    @apply rounded-full;
  }

  div {
    @apply flex;
  }

  h2 {
    @apply text-heading-m text-link-normal mb-md font-bold ml-sm;
  }

  p {
    @apply text-body-l text-link-normal whitespace-pre-line;
  }
}

@screen dt {
  .info-banner-wrap {
    h2 {
      @apply text-heading-m-dt;
    }

    p {
      @apply text-body-l-dt;
    }
  }
}
