.page-loader,
.module-loader {
  text-align: center;
}

.page-loader {
  padding-top: 88px;
}

.module-loader {
  padding: 16px;
}

@keyframes ldio-pjg92h09b2o {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.ldio-pjg92h09b2o div {
  position: absolute;
  width: 52px;
  height: 52px;
  border: 12px solid #22394d;
  border-top-color: transparent;
  border-radius: 50%;
}

.ldio-pjg92h09b2o div {
  animation: ldio-pjg92h09b2o 1s linear infinite;
  top: 50px;
  left: 50px;
}

.loadingio-spinner-rolling-faewnb8ux8 {
  width: 48px;
  height: 48px;
  display: inline-block;
  overflow: hidden;
  background: none;
}

.ldio-pjg92h09b2o {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.48);
  backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */
}

.ldio-pjg92h09b2o div {
  box-sizing: content-box;
}

/*
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 80px;
  height: 80px;
  margin: -80px 0 0 -40px;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top-color: #3498db;
  -webkit-animation: loader-spin 1s linear infinite;
  animation: loader-spin 1s linear infinite;
}

@-webkit-keyframes loader-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
*/
