.map-wrap {
  @apply pb-lg;
}

.map {
  width: 100%;
  height: 384px;
  overflow: visible;
  position: relative;
}

.map-search-bar-wrap {
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 4px;
  display: flex;
  width: 100%;
}

.map-search-bar-icon {
  @apply inline h-6 w-6 m-sm;
}

.map-search-bar {
  @apply block outline-none text-form-field text-text-primary h-10 w-full !important;
}

.map-search-bar:focus {
  border: none;
}
