.PlusMinus {
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
}
.PlusMinusbutton{
  border: 1px solid #d6d5d4;
  background-color: #eeeeee;
  color: #505a5f;
  font-size: 27px;
  font-weight: 400;
  text-align: center;
  width: 40px;
}
