.PlusMinus {
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
}
.PlusMinusbutton{
  border: 1px solid theme(colors.border);
  background-color: theme(colors.grey.mid);
  color: theme(colors.text.secondary);
  font-size: 27px;
  font-weight: 400;
  text-align: center;
  width: 40px;
}
