.PropertySearchForm {
  .pt-search-action {
    @apply w-full;
    display: flex;
    margin-right: 10px;
    justify-content: end;
    align-items: center;
    .pt-search-action-submit button {
      width: 100% !important;
    }
    .pt-search-action-reset {
      text-align: right;
      cursor: pointer;
    }
  }

  .PropertySearchFormSwitcher{
    border-bottom: 1px solid theme(colors.border);
    cursor: pointer;
    margin-bottom: 20px;
    display: flex;
    .non-selected {
      color: theme(colors.text.secondary);
      font-weight: 400;
    }
    .selected {
      color: theme(colors.primary.main);
      font-weight: 700;
      padding-bottom: 10px;
      border-bottom: 2px solid theme(colors.primary.main);
    }
    span {
      margin-right: 20px;
    }
  }


  .form-field {
    width: 30% !important;
    margin-bottom: 20px;
  }
  @media (min-width: 780px) {
    .pt-form-field{
      width: 30% !important;
      margin-bottom: 20px;
    }
  }
  @media (max-width: 780px) {
  .form-field{
    width: 100% !important;
    margin-bottom: 15px;
  }
  .pt-form-field{
    width: 100% !important;
    margin-bottom: 15px;
  }
  }
}
