.PropertySearchForm {
  .pt-search-action {
    @apply w-full;
    display: flex;
    justify-content: end;
    align-items: center;
    .pt-search-action-submit button {
      width: 100% !important;
    }
    .pt-search-action-reset {
      text-align: right;
    }
  }

  .PropertySearchFormSwitcher{
    border-bottom: 1px solid #d6d5d4;
    cursor: pointer;
    margin-bottom: 20px;
    display: flex;
    .non-selected {
      color: #505a5f;
      font-weight: 400;
    }
    .selected {
      color: #f47738;
      font-weight: 700;
      padding-bottom: 10px;
      border-bottom: 2px solid #f47738;
    }
    span {
      margin-right: 20px;
    }
  }


  .form-field {
    width: 30% !important;
  }
  @media (max-width: 780px) {
  .form-field{
    width: 100% !important;
  }
  }
}
