.sect-dropdown-wrap {
  @apply mb-lg relative;

  .sect-dropdown-input-wrap {
    @apply block w-full h-10 border border-solid border-input-border;

    input[type="text"] {
      width: calc(100% - 32px);
      @apply h-full outline-none text-text-primary text-form-field pl-sm;
    }
    p {
      padding-top: 9px;
      @apply text-form-field text-text-primary float-left ml-sm;
    }

    img {
      @apply float-right h-6 w-6 mt-sm mr-sm;
    }

    svg {
      @apply float-right h-6 w-6 mt-sm mr-sm;
    }
  }

  .sect-dropdown-card {
    width: 100% !important;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    @apply absolute z-10 mt-xs pb-sm bg-white;

    h1 {
      @apply pl-sm pt-md text-text-primary text-form-field;
    }

    p {
      padding-left: 21px;
      @apply w-full pt-sm text-text-secondary text-form-field;

      &:hover {
        @apply bg-grey-mid;
      }
    }
  }
}
