.sidebar-menu {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  color: #757575;

  .menu-item {
    display: flex;
    cursor: pointer;
    min-height: 48px;
    margin: 0;
    padding: 0;
    .menu-item-icon {
      svg {
        color: #757575;
        fill: #757575;
        width: 21px;
        height: 21px;
      }
    }
    .menu-item-text {
      margin-left: 1em;
    }
  }
}
