.pay-whatsapp-card{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.pay-whatsapp-text{
    color: #25D366;
    float: left;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 700;
}
.dynamicDataCard{
    background: rgba(244, 119, 56, 0.12);
    mix-blend-mode: normal;
    height: auto;
    max-height: 64px;
    border-radius: 4px;
    margin-bottom: 16px;
}
.dynamicData{
    padding: 10px 16px 16px 16px;
    display: flex;
}
.dynamicData-content{
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    padding-top: 4px;
    word-break: break-word;
    margin-inline: 20px;
}
.staticDataCard{
    background: rgba(238, 238, 238, 1);
    mix-blend-mode: normal;
    height: auto;
    max-height: 100px;
    border-radius: 4px;
    margin-bottom: 16px;
}
.staticData{
    display: flex;
}
.timerIcon{
    padding: 16px 0px 16px 16px;
}
.static-data-content{
    display: grid;
    margin-inline: 20px;
    padding-top: 8px;
}
.rupeeSymbol{
    padding: 16px 0px 16px 16px;
}
.validityIcon{
    padding: 16px 0px 16px 8px;
}
.static-data-content-first{
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
}
.static-data-content-second{
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 700;
    word-break: break-word;
}
.staticDataCardLast{
    background: rgba(238, 238, 238, 1);
    mix-blend-mode: normal;
    height: 56px;
    border-radius: 4px;
}
.whatsAppIconG{
    float: right;
}
.static-home-Card{
    display: flex;
    justify-content: space-between;
}
.static-home-Card-header{
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 700;
    float: left;
}
.helplineIcon{
    float: right;
}
.call-center-card-text{
    display: grid;
}
.call-center-card-content{
    float: left;
}
.serviceCentrIcon{
    float: right;
}
.service-center-details-card{
    display: flex;
    overflow-wrap: break-word;
}
.service-center-details-text{
    float: left;
    width: 180px;
}