.userInputContainer {
    background: #fafafa;
    border: 1px solid #d6d5d4;
    border-radius: 8px;
    box-sizing: border-box;
    height: fit-content;
    width: 75%;
    padding: 10px;
    position: relative;
}
