.radio-root {
  margin-bottom: 0;
  height: 30px;
  color: #fe7a51;
  width: 35px;
}

.radio-button-label {
  margin-bottom: 0;
  margin-right: 20px;
  letter-spacing: 0.58px;
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
}
