.application-no-container {
  background-color: rgba(0, 0, 0, 0.6000000238418579);
  color: rgba(255, 255, 255, 0.8700000047683716);
  text-align: center;
  vertical-align: middle;
  line-height: 35px;
  font-size: 16px;
}

@media only screen and (max-width: 768px) {
  .application-no-container {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .application-no-container {
    margin-left: 8px;
    padding-left: 19px;
    padding-right: 19px;
  }
}
