.search-property-btn {
  width: 182px;
  height: 48px;
  margin-left: 42%;
  margin-bottom: 12px;
  margin-top: 12px;
}

.searchProperty > :first-child {
  line-height: 0px;
}

@media only screen and (max-width: 768px) {
  .searchProperty {
    padding: 0px !important;
  }
  .search-property-btn {
    //margin: 10px auto;

    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0;
    height: auto !important;
    margin: 0px !important;
    padding: 0px !important;
  }
}
