div[class^="MUIDataTable-responsiveScroll"] thead {
  background: #f2f2f2;
}

div[class^="MUIDataTableHeadCell-data"] {
  color: rgba(0, 0, 0, 0.8700000048);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
}

.hr-table-container th {
  background-color: #f2f2f2;
}

.hr-table-container a {
  text-decoration-color: rgb(254, 122, 81);
}
