@import url('../fonts/barlow/barlow.css');
@import url('../fonts/montserrat/montserrat.css');
.wrapper {
    height: 1024px;
    width: 100%;
    background-color: yellowgreen;
}

body {
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'barlow';
}

.appbar {
    background-color: white;
}

.leftcolumn {
    height: auto;
    width: 70%;
    float: left;
    background-color: white;
    background-size: cover;
}

.rightcolumn {
    height: auto;
    width: 30%;
    float: left;
    background-color: white;
    padding: 10px;
}

.fullwidth {
    height: 1024px;
    width: 100%;
    float: left;
    background-color: red;
}

.login-container {
    margin: 20px;
}


/* // this class should go in div that wraps Layout component, maybe rename as '.app' */

.layout {
    position: absolute;
}


/* // where content go */

.content {
    flex: 1 1 auto;
    overflow-y: auto;
    position: relative;
    width: 100%;
}


/* // need this to position inner content */

.header {
    flex: 0 0 auto;
}

.active {
    border: '1px solid blue'
}

.list-group-item {
    border: none !important;
    width: 200px;
}

.cursor_disabled {
    cursor: not-allowed;
    color: lightgray !important;
}

.break_word {
    word-break: break-word
}


/* @media only screen and (max-device-width : 1024px) and (min-device-width : 768px) { 

  .leftpanel {
    min-height:1602px !important;
  }
  .resourcebox_chart{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .resource_box {
    min-height: 525px !important;
  }
  .label{
    color:#FFFFF !important;
    padding-left: 0px !important;
    margin-left: -60px !important;
    margin-top: 40px !important;
  }
} */

.resource_label {
    /* min-width: 350px; */
    display: flex;
}

.number_fileld {
    font-family: 'montserrat';
}

.number_fileld_resource {
    font-family: 'montserrat';
    font-size: 37px;
    display: flex;
    width: 10px;
    height: 10px;
    flex-grow: 1;
    cursor: pointer;
    /* font-weight: 600; */
    /* display: flex;
  flex: 1; */
}

.labelClass::after {
    content: '*';
    color: red;
    padding-left: 5px
}

.dropdown-toggle {
    width: 100%;
}

#kpiexpression-ace {
    width: 100% !important;
    height: 192px !important;
    border-radius: 4px !important;
    margin-bottom: 10px !important;
}

.App-intro {
    color: #1692F2;
}

.error {
    color: red;
    font-size: 14px;
    position: absolute;
}

.content_editable {
    -webkit-user-modify: read-write;
    -moz-user-modify: read-write;
    user-modify: read-write;
    margin: 10px;
    padding: 10px;
    width: 50px;
    overflow: hidden;
    outline: none;
    cursor: text;
    text-transform: none;
}

@media screen and (max-width: 947px) {
    /* .responsiveTable thead{
  display: none
}
.responsiveTable tbody{
  display: flex;
  flex-direction: column;
}
.responsiveTable tr{
  min-height: 200px;
  height: auto;
  padding-left:10px;
  flex-direction: column;
  display:flex
}
.responsiveTable th,td{
  border:none;
  padding-left: 0 !important;
  display:flex;
}
.responsiveTable tbody th[data-title]:before {
  content: attr(data-title);
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 600;
} */
    .number_fileld_resource {
        font-size: 12px;
    }
}

.tooltipClass {
    line-height: 2;
    padding-left: 15px;
}

.vis-tooltip {
    background-color: #FFFFFF !important;
}

.criticalColor {
    background-color: #E53F23 !important;
    color: #FFFFFF !important;
    border-radius: 9px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.majorColor {
    background-color: #FD712D !important;
    border-radius: 9px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.minorColor {
    background-color: #F09F1C !important;
    border-radius: 9px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.healthyColor {
    background-color: #66CC66 !important;
    border-radius: 9px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
}


/* tablescroll */

.table-wrapper {
    position: relative;
}

.table-scroller {
    height: 300px;
    overflow: auto;
    margin-top: 15px;
    margin-right: 5px;
}

.table-wrapper table thead th .head {
    z-index: 2px;
    width: '35%'
}

.table-scroller table {
    width: 100%;
}

.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #999999;
}

.scrollbar::-moz-scrollbar {
    width: 12px;
}

.scrollbar::-moz-scrollbar-track {
    -moz-box-shadow: inset 0 0 6px #fff;
    background: #000;
}

.scrollbar::-moz-scrollbar-thumb {
    border-radius: 10px;
    -moz-box-shadow: inset 0 0 6px #fff;
    background: #7A252B;
}

.tabIndicator {
    background-color: #1692F2 !important
}

.tabOutline button {
    border: 1px solid lightgray !important
}

.fontBold_500 {
    font-weight: 500
}

.fontBold_600 {
    font-weight: 600
}

.fontSize_1 {
    font-size: 2vw
}


/* scroll bar  */

body.custom {
    top: 0;
    left: 0;
    bottom: 0;
    right: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

::-moz-scrollbar {
    width: 8px;
    height: 6px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 6px;
}

::-moz-scrollbar-button:start:decrement,
::-moz-scrollbar-button:start:decrement {
    /* height: 0px; */
    display: block;
    background-color: white;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    height: 0px;
    display: block;
    background-color: white;
}

::-moz-scrollbar-track-piece {
    background-color: white;
    /*Global Track Peice(the slider noob.)*/
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-track-piece {
    background-color: white;
    /*Global Track Peice(the slider noob.)*/
    -webkit-border-radius: 6px;
}

::-moz-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #666;
    /* Up/Down slider background*/
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #666;
    /* Up/Down slider background*/
    -webkit-border-radius: 6px;
}

::-moz-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: #666;
    /* Side/Side slider background*/
    -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: #666;
    /* Side/Side slider background*/
    -webkit-border-radius: 3px;
}

.xterm .xterm-viewport {
    overflow-y: auto !important;
}
