.receipt-displayInline {
  display: flex;
  margin-top: 15px !important;
  margin-bottom: 10px;
  align-items: center;
}

.receipt-button {
  margin-left: 22px;
  margin-bottom: 20px;
  margin-top: 10px;
}
