serviceMaps:
 serviceName: Water Connection Service
 mappings:
 - version: 1.0
   name: WaterConnection
   description: create ConnectionDetails in connection and water_service_connection
   fromTopic: save-ws-connection
   isTransaction: true
   queryMaps: 
    - query: INSERT INTO connection (id, tenantid, property_id, applicationno, applicationstatus, status, connectionno, oldconnectionno,roadcuttingarea,action,roadtype) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?,?,?);
      basePath: $.WaterConnection
      jsonMaps:
       - jsonPath: $.WaterConnection.id 

       - jsonPath: $.WaterConnection.property.tenantId
        
       - jsonPath: $.WaterConnection.property.propertyId

       - jsonPath: $.WaterConnection.applicationNo
        
       - jsonPath: $.WaterConnection.applicationStatus

       - jsonPath: $.WaterConnection.status

       - jsonPath: $.WaterConnection.connectionNo

       - jsonPath: $.WaterConnection.oldConnectionNo
      
       - jsonPath: $.WaterConnection.roadCuttingArea

       - jsonPath: $.WaterConnection.action

       - jsonPath: $.WaterConnection.roadType

       
    - query: INSERT INTO water_service_connection(connection_id,connectionCategory,rainWaterHarvesting,connectionType,waterSource,meterId,meterInstallationDate,pipeSize,noOfTaps,waterSubSource,connectionexecutiondate,proposedPipeSize,proposedTaps) VALUES(?,?,?,?,?,?,?,?,?,?,?,?,?);
      basePath: $.WaterConnection
      jsonMaps:

       - jsonPath: $.WaterConnection.id
       - jsonPath: $.WaterConnection.connectionCategory
         

       - jsonPath: $.WaterConnection.rainWaterHarvesting
         type: BOOLEAN 
         dbType: BOOLEAN
         
       - jsonPath: $.WaterConnection.connectionType
         
       - jsonPath: $.WaterConnection.waterSource
         
       - jsonPath: $.WaterConnection.meterId
         
       - jsonPath: $.WaterConnection.meterInstallationDate

       - jsonPath: $.WaterConnection.pipeSize

       - jsonPath: $.WaterConnection.noOfTaps

       - jsonPath: $.WaterConnection.waterSubSource
       
       - jsonPath: $.WaterConnection.connectionExecutionDate
       
       - jsonPath: $.WaterConnection.proposedPipeSize
       
       - jsonPath: $.WaterConnection.proposedTaps
       

 - version: 1.0
   name: WaterConnection
   description: update ConnectionDetails in connection and water_service_connection
   fromTopic: update-ws-connection
   isTransaction: true
   queryMaps: 
    - query: UPDATE connection SET applicationstatus=?, status=?, connectionno=?, oldconnectionno=?, action=?, roadCuttingArea=?, roadType=?, adhocpenalty=?, adhocrebate=?, adhocpenaltyreason=?, adhocpenaltycomment=?, adhocrebatereason=?, adhocrebatecomment=? WHERE id=?;
      basePath: $.WaterConnection
      jsonMaps:

       - jsonPath: $.WaterConnection.applicationStatus

       - jsonPath: $.WaterConnection.status

       - jsonPath: $.WaterConnection.connectionNo

       - jsonPath: $.WaterConnection.oldConnectionNo

       - jsonPath: $.WaterConnection.action

       - jsonPath: $.WaterConnection.roadCuttingArea

       - jsonPath: $.WaterConnection.roadType
       
       - jsonPath: $.WaterConnection.additionalDetails.adhocPenalty 

       - jsonPath: $.WaterConnection.additionalDetails.adhocRebate
       
       - jsonPath: $.WaterConnection.additionalDetails.adhocPenaltyReason 

       - jsonPath: $.WaterConnection.additionalDetails.adhocPenaltyComment
       
       - jsonPath: $.WaterConnection.additionalDetails.adhocPenaltyReason 

       - jsonPath: $.WaterConnection.additionalDetails.adhocRebateComment
       
       - jsonPath: $.WaterConnection.id 

    - query: UPDATE water_service_connection SET connectionCategory=?,rainWaterHarvesting=?,connectionType=?,waterSource=?,meterId=?,meterInstallationDate=?,pipeSize=?,noOfTaps=?,waterSubSource=?,proposedPipeSize=?,proposedTaps=? WHERE connection_id=?;
      basePath: $.WaterConnection
      jsonMaps:
       
       - jsonPath: $.WaterConnection.connectionCategory
         
       - jsonPath: $.WaterConnection.rainWaterHarvesting
         type: BOOLEAN 
         dbType: BOOLEAN
         
       - jsonPath: $.WaterConnection.connectionType
         
       - jsonPath: $.WaterConnection.waterSource
         
       - jsonPath: $.WaterConnection.meterId
         
       - jsonPath: $.WaterConnection.meterInstallationDate

       - jsonPath: $.WaterConnection.pipeSize

       - jsonPath: $.WaterConnection.noOfTaps

       - jsonPath: $.WaterConnection.waterSubSource
       
       - jsonPath: $.WaterConnection.proposedPipeSize
       
       - jsonPath: $.WaterConnection.proposedTaps

       - jsonPath: $.WaterConnection.id

    - query: INSERT INTO eg_ws_applicationDocument(id, tenantId, documenttype, filestoreid, wsid, active, createdBy, lastModifiedBy, createdTime, lastModifiedTime) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?) ON CONFLICT (id) DO UPDATE SET active = ?, documenttype =?, filestoreid =?,lastmodifiedby =?, lastmodifiedtime =?;
      basePath: $.WaterConnection.documents.*
      jsonMaps:
         
          - jsonPath: $.WaterConnection.documents.*.id

          - jsonPath: $.WaterConnection.property.tenantId

          - jsonPath: $.WaterConnection.documents.*.documentType

          - jsonPath: $.WaterConnection.documents.*.fileStoreId

          - jsonPath: $.WaterConnection.id

          - jsonPath: $.WaterConnection.documents.*.status

          - jsonPath: $.WaterConnection.documents.*.auditDetails.createdBy

          - jsonPath: $.WaterConnection.documents.*.auditDetails.lastModifiedBy

          - jsonPath: $.WaterConnection.documents.*.auditDetails.createdTime

          - jsonPath: $.WaterConnection.documents.*.auditDetails.lastModifiedTime

          - jsonPath: $.WaterConnection.documents.*.status

          - jsonPath: $.WaterConnection.documents.*.documentType

          - jsonPath: $.WaterConnection.documents.*.fileStoreId

          - jsonPath: $.WaterConnection.documents.*.auditDetails.lastModifiedBy

          - jsonPath: $.WaterConnection.documents.*.auditDetails.lastModifiedTime

    - query: INSERT INTO eg_ws_plumberinfo(id, name, licenseno, mobilenumber, gender, fatherorhusbandname, correspondenceaddress, relationship, wsid) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) ON CONFLICT (id) DO UPDATE SET name =?, licenseno =?,mobilenumber =?, gender =?, fatherorhusbandname =?, correspondenceaddress =?, relationship=?;
      basePath: $.WaterConnection.plumberInfo.*
      jsonMaps:
         
          - jsonPath: $.WaterConnection.plumberInfo.*.id

          - jsonPath: $.WaterConnection.plumberInfo.*.name

          - jsonPath: $.WaterConnection.plumberInfo.*.licenseNo

          - jsonPath: $.WaterConnection.plumberInfo.*.mobileNumber

          - jsonPath: $.WaterConnection.plumberInfo.*.gender

          - jsonPath: $.WaterConnection.plumberInfo.*.fatherOrHusbandName

          - jsonPath: $.WaterConnection.plumberInfo.*.correspondenceAddress

          - jsonPath: $.WaterConnection.plumberInfo.*.relationship

          - jsonPath: $.WaterConnection.id  
          
          - jsonPath: $.WaterConnection.plumberInfo.*.name

          - jsonPath: $.WaterConnection.plumberInfo.*.licenseNo

          - jsonPath: $.WaterConnection.plumberInfo.*.mobileNumber

          - jsonPath: $.WaterConnection.plumberInfo.*.gender

          - jsonPath: $.WaterConnection.plumberInfo.*.fatherOrHusbandName

          - jsonPath: $.WaterConnection.plumberInfo.*.correspondenceAddress

          - jsonPath: $.WaterConnection.plumberInfo.*.relationship



 - version: 1.0
   name: WaterConnection
   description: update ConnectionDetails in connection and water_service_connection
   fromTopic: update-ws-workflow
   isTransaction: true
   queryMaps: 
    - query: UPDATE connection SET applicationstatus=?, status=?, connectionno=?, action=? WHERE id=?;
      basePath: $.WaterConnection
      jsonMaps:

       - jsonPath: $.WaterConnection.applicationStatus

       - jsonPath: $.WaterConnection.status

       - jsonPath: $.WaterConnection.connectionNo

       - jsonPath: $.WaterConnection.action 

       - jsonPath: $.WaterConnection.id     


