.complaint-details-comments-section-comment-and-time-letterSpacing {
  margin-top: 6px !important;
}

.complaint-details-comments-section {
  margin-top: -11px;
  background-color: #f7f7f7;
  -webkit-box-sizing: border-box;
  /* box-sizing: border-box; */
  padding: 8px 6px;
  margin-left: -15px;
}

.rainmakcommunicationer-displayInline {
  display: flex;
  align-items: center;
}
