.icon-bg-secondary {
  @apply flex bg-secondary w-12 h-12;

  svg {
    margin: auto;
    @apply w-6 h-6;
  }
}

.heading-m {
  @apply font-bold text-text-primary text-heading-m ml-md pt-sm;
}

.break-line {
  @apply border-border my-lg;
}

.employee-home-footer{
  @apply flex fixed bottom-0 h-10 bg-grey-bg pb-md pt-sm justify-center w-full;
  img{
    @apply ml-sm
  }
}

@screen dt {
  .ground-container {
    margin-bottom: 56px;
    @apply p-md;
  }
  .heading-m {
    @apply text-heading-m-dt;
  }
  .break-line {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .employee-home-footer{
    
  }
  .moduleCardWrapper{
    @apply flex flex-row flex-wrap !important;
  }
}