.complaint-links-container {
  @apply bg-white;
  border-radius: 4px;
  .header {
    @apply flex items-center border-b border-border;

    .logo {
      @apply bg-focus;
      padding: 12px;
      border-radius: 4px;
    }

    .text {
      @apply pl-md font-bold;
    }
  }

  .body {
    padding: 10px;
    @apply flex items-start flex-col;
    margin-left: 46px;

    .link {
      @apply p-sm text-primary-main items-center;
      display: flex !important;
    }

    .inbox-total {
      @apply text-center text-white;
      background-color: #000;
      border-radius: 12px;
      margin-left: 5px;
      padding-left: 3px;
      padding-right: 3px;
    }
  }
}

.filter-button {
  @apply text-primary-main;
  &:hover {
    @apply text-primary-dark cursor-pointer;
  }
}

.employeeCard-info-box {
  @apply flex justify-end ml-md;
  background-color: #fafafa;
  div {
    margin-right: 32px;
    span:nth-child(2) {
      @apply font-bold;
      color: #4f5a5f;
    }
  }
  .employeeCard-info-data {
    display: flex;
    flex-direction: column;
  }
}

.inbox-container {
  .filters-container {
    .filter {
      .filter-card {
        @apply bg-white;
        padding: 10px;

        .heading {
          @apply flex justify-between;

          .clearAll {
            display: none;
          }
        }

        .filter-label {
          @apply font-bold text-heading-m;
          padding-bottom: 6px;
        }
      }
    }

    .search-complaint-container {
      @apply items-center bg-white p-md;

      .complaint-input-container {
        @apply w-full;
        .complaint-input {
          @apply flex flex-col;

          .clear-search {
            @apply text-focus;
            display: none;
            &:hover {
              color: #003078;
              cursor: pointer;
            }
          }
        }

        .mobile-input {
        }
      }
    }
  }

  .status-container {
    margin-bottom: 50px;
  }
}

.clear-search,
.clear-search .link-label {
  @apply text-focus;
  @apply block;
  cursor: pointer;
  &:hover {
    color: #000;
  }
}
.button-clear {
  @apply text-focus text-body-s-dt;
}

.inbox-count {
  @apply inline ml-sm p-sm bg-primary-main rounded-full text-white text-heading-s align-middle text-center;
}

@screen dt {
  .complaint-links-container {
    @apply bg-white;

    .header {
      @apply flex items-center border-b border-border;

      .logo {
        @apply bg-focus;
        padding: 12px;
        border-radius: 4px;
      }

      .text {
        @apply pl-md font-bold;
      }
    }

    .body {
      padding: 10px;
      @apply flex items-start flex-col;
      margin-left: 46px;

      .link {
        @apply p-sm text-primary-main;
      }
    }
  }

  .inbox-container {
    @apply flex;

    .filters-container {
      width: 270px;

      .filter {
        @apply mt-md;

        .filter-card {
          @apply p-md bg-white;

          .heading {
            @apply flex justify-between;
          }

          .label {
            @apply text-heading-s;
          }
        }
      }
    }

    .search-container {
      width: 874px;

      .search-complaint-container {
        margin: auto;
        @apply flex flex-col items-start  mb-md bg-white p-md;

        .complaint-header {
          display: flex;
          @apply flex justify-between w-full;
          margin-bottom: 20px;
        }

        .complaint-input-container {
          display: flex !important;
          * {
            @apply flex-1;
          }

          .complaint-input {
            @apply flex flex-col;

            .clear-search {
              @apply text-focus;
              @apply block;
              cursor: pointer;
              &:hover {
                color: #003078;
                cursor: pointer;
              }
            }
          }

          .mobile-input {
            @apply ml-sm;
          }
        }
      }
    }
  }
}

.cell-text {
  color: #505A5F;
}

.sla-cell-error {
  color: #d4351c;
  background-color: rgba(212, 53, 28, 0.12);
  padding: 0 24px;
  border-radius: 11px;
}

.sla-cell-success {
  color: #00703c;
  background-color: rgba(0, 112, 60, 0.12);
  padding: 0 24px;
  border-radius: 11px;
}

.complain-no-cell-text {
  margin-top: "4px";
  color: "#505A5F";
}

.search-error-label{
  @apply font-bold text-legend text-error mb-sm !important;
}