/* TODO: convert using tailwind */
.employee {
  .breadcrumb {
    @apply ml-sm mb-lg;
  }
  .ground-container {
    @apply flex flex-col;
  }
  .card-home {
    font-size: 16px;
    padding: 0 0 16px 0;
    width: 92vw;
    display: inline-block;
    margin: 8px auto;
  }
  .topbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 16px 24px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0 1px 4px;
    z-index: 9999;

    img {
      display: inline;

      &.city {
        margin-right: 8px;
        height: 48px;
        width: 48px;
      }

      &.state {
        height: 20px;
        max-height: 20px;
        width: auto;
      }
    }

    .ulb {
      font-weight: bold;
    }

    .right {
      float: right;
      margin-top: 12px;

      .user-img-txt {
        background: #f47738;
        padding: 10px 15px;
        border-radius: 50%;
        color: white;
        font-weight: 700;
      }
    }
  }

  .main {
    padding-top: 88px;
  }

  .react-time-picker {
    width: 100%;
    max-width: 200px;
  }

  .react-time-picker__wrapper {
    border: 1px solid #464646;
  }

  .react-time-picker__clock {
    display: none;
  }

  .react-time-picker__inputGroup__leadingZero {
    padding-right: 8px;
    display: inline !important;
  }

  .react-time-picker__inputGroup__input {
    padding: 0;
    min-width: none;
    outline: none !important;
    border: none !important;
  }

  .react-time-picker__wrapper {
    padding-left: 8px;
  }
}

.citizen {
  .main {
    padding-top: 82px;
  }
}

.citizen,
.employee {
  .sidebar {
    position: fixed;
    left: 0;
    padding: 20px 0;
    background: #22394d;
    height: 100%;
    color: white;
    margin-top: 80px;
    z-index: 1000;

    .actions {
      cursor: pointer;
      padding: 0 20px;
      margin-bottom: 32px;

      &.active {
        border-right: 4px solid #f47738;
        padding-right: 16px;
      }
    }
  }
}

.citizen {
  .sidebar {
    margin-top: 54px;
    min-width: 200px;
    .actions {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}

.link {
  @apply text-primary-main;

  :hover {
    @apply text-primary-dark;
  }
}

@media (min-width: 640px) {
  .employee {
    .ground-container {
      @apply block;
    }
    .breadcrumb {
      @apply mb-lg;
      margin-left: 0;
    }
    .card-home {
      width: 270px;
      margin-right: 16px;
      margin-bottom: 16px;
    }
    .main {
      padding-top: 80px;
      margin-left: 72px;
      width: calc(100%-83px);
    }
  }

  .citizen {
    .main {
      gap: 0.3rem;
      width: 100%;
      padding-top: 80px;
      padding-left: 16px;
    }

    .center-container {
      width: 70%;
      margin: 0 auto;
    }
  }
}

.multi-select-container {
  .disposal-text {
    @apply font-bold;
  }

  .disposal-info {
    @apply my-md ml-sm;
  }

  .disposal-action-bar {
    @apply flex justify-between items-center;
  }
}

@screen dt {
  .d-grid {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    column-gap: 10px;
    row-gap: 2px;
    margin-left: -12px;
  }
}

.m-auto {
  margin: auto !important;
}
