.background-grey {
  background-color: rgb(242, 242, 242);
  max-width: 250px;
}

@media only screen and (max-width: 768px) {
  .background-grey {
    background-color: rgb(242, 242, 242);
    max-width: 100%;
    margin-bottom: 5px;
  }
}
