.box {
  background: rgba(248, 154, 63, 0.2);
  border: 1px solid #f89a3f;
  border-radius: 10px;
  margin-top: 8px; }

.count-details {
  color: #f89a3f;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  padding: 8px 16px; }
