.card {
  @apply bg-white m-sm px-sm pt-sm pb-lg shadow-card;
  border-radius: 4px;

  .card-header {
    @apply text-text-primary text-heading-xl font-bold font-rc align-middle text-left mb-md;
  }

  .card-sub-header {
    @apply text-text-primary text-caption-xl font-bold align-middle text-left;
  }

  .card-caption {
    @apply text-text-secondary text-caption-xl mb-sm;
  }

  .card-text {
    @apply text-text-secondary text-body-l align-middle text-left mb-lg;

    span {
      @apply text-text-primary;
    }
  }

  .card-text-primary {
    @apply text-text-primary text-body-l;
  }

  .card-text-button {
    @apply text-primary-main text-text-btn;
  }

  .card-label {
    @apply font-bold text-legend text-text-primary mb-md;
  }

  .card-label-error {
    @apply block font-bold text-legend text-error mb-md;
  }

  .card-label-desc {
    @apply font-bold text-text-secondary text-heading-s mb-md;
  }

  .card-link {
    @apply block text-center text-link text-link-normal mt-md;
  }

}

.employeeCard {
  @apply bg-white px-sm pt-sm pb-lg shadow-card;
  max-width: 420px;
  border-radius: 4px;

  .card-header {
    @apply text-text-primary text-heading-xl font-bold font-rc align-middle text-left mb-md;
  }

  .card-sub-header,
  .employee-card-sub-header {
    @apply text-text-primary text-caption-xl font-bold align-middle text-left;
  }

  .card-section-header {
    @apply text-text-primary text-heading-m font-bold;
  }

  .card-caption {
    @apply text-text-secondary text-caption-xl mb-sm;
  }

  .card-text {
    @apply text-text-secondary text-body-l align-middle text-left mb-lg;

    span {
      @apply text-text-primary;
    }
  }

  .card-text-primary {
    @apply text-text-primary text-body-l;
  }

  .card-text-button {
    @apply text-primary-main text-text-btn;
  }

  .card-label {
    @apply font-bold text-legend text-text-primary mb-md;
  }

  .card-label-error {
    @apply block font-bold text-legend text-error mb-md;
  }

  .card-label-desc {
    @apply font-bold text-text-secondary text-heading-s mb-md;
  }

  .card-link {
    @apply block text-center text-link text-link-normal mt-md;
  }
}

.header-wrap {
  @apply flex mb-md;

  .header-start {
    margin-right: auto;
  }

  .header-content {}

  .header-end {
    margin-left: auto;
  }
}

.card-emp {
  @extend .card;
  padding-right: 0;
  padding-top: 0;
  padding-left: 0;
  @apply bg-white m-sm;
}

.submit-bar {
  @apply h-10 bg-primary-main text-center border-b-2 border-input-border border-solid w-full outline-none;

  &:focus {
    @apply outline-none;
  }

  header {
    @apply font-rc font-medium text-legend text-white leading-10;
  }
}

.submit-bar-disabled{
  @apply h-10 bg-primary-main text-center border-b-2 border-input-border border-solid w-full outline-none opacity-50;

  &:focus {
    @apply outline-none;
  }

  header {
    @apply font-rc font-medium text-legend text-white leading-10;
  }
}

@screen dt {
  .submit-bar, .submit-bar-disabled {
    width: 240px;
  }

  .card {
    margin-left: auto;
    margin-right: auto;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 16px;

    .card-header {
      @apply text-heading-xl-dt;
    }

    .card-sub-header {
      @apply text-heading-l-dt;
    }

    .card-caption {
      @apply text-caption-xl-dt;
    }

    .card-text,
    .card-text-primary {
      @apply text-body-l-dt;
    }

    .card-link {
      @apply text-left;
    }
  }

  .employeeCard {
    padding-left: 16px;
    padding-top: 16px;
    max-width: 270px;

    &.filter {
      margin-left: auto;
      margin-right: auto;
    }

    .card-header {
      @apply text-heading-xl-dt;
    }

    .card-sub-header {
      @apply text-heading-l-dt;
    }

    .employee-card-sub-header {
      margin-bottom: 40px;
      @apply text-heading-l-dt;
    }

    .card-section-header {
      margin-bottom: 40px;
      @apply text-heading-m-dt;
    }

    .card-caption {
      @apply text-caption-xl-dt;
    }

    .card-text,
    .card-text-primary {
      @apply text-body-l-dt;
    }

    .card-link {
      @apply text-left;
    }

    .label-field-pair {
      @apply flex;

      h2 {
        width: 30%;
      }

      .field {
        width: 50%;
        margin-right: 20%;
      }
    }
  }


  .header-wrap {
    @apply flex mb-md;

    .header-start {
      margin-right: auto;
    }

    .header-content {}

    .header-end {
      margin-left: auto;
    }
  }
}