.chartHeader {
  display: flex;
  justify-content: space-between;

  .sideContent {
    @apply flex justify-around items-center ;

    .searchInput {
      @apply mr-lg;
      input{
        margin-bottom: 0;
        @apply pr-xl;
      }
    }

    .signature-img{
      top: 8px;
      right: 8px;
      fill: #505A5F;
      @apply absolute;
    }
  }
}

.chart-wrapper {
  padding: 0 10px;
}

.chart-row {
  @apply flex justify-between flex-wrap;
  .chart-item {
    flex-grow: 1;
    margin-bottom: 15px;
    width: 100%;

    &:last-child {
      margin-right: 0px;
    }
  }
}

.options {
  display: none;
}

.options-m {
  width: 95%;
  margin: 0 auto 15px;
  @apply flex justify-between;

  svg {
    margin-right: 10px;
  }
}

.options,
.options-m {
  div {
    @apply flex;
  }
}

@screen dt {
  .chart-wrapper {
    padding-left: 15px;

    .chart-item {
      margin-right: 25px;
      margin-bottom: 25px;
      width: 31%;
    }
  }
  .options-m {
    display: none;
  }

  .options {
    @apply flex justify-end;
  }
}