.checkbox-wrap {
  height: 38px;
  @apply flex mb-md relative items-center;

  input {
    width: 38px;
    height: 38px;
    @apply opacity-0 absolute top-0 left-0 z-10;
  }

  .custom-checkbox {
    width: 38px;
    height: 38px;
    @apply absolute top-0 left-0 border-2 border-solid border-input-border z-0;

    img {
      @apply opacity-0;
    }

    svg{
      @apply opacity-0;
    }
  }

  input:checked ~ .custom-checkbox {
    @apply border-4 border-primary-main;
  }


  input:checked ~ .custom-checkbox img{
    @apply opacity-100
  }

  input:checked ~ .custom-checkbox svg{
    @apply opacity-100
  }
  
  .label {
    margin-left: 56px;
    @apply text-form-field text-text-primary;
  }
}

