.customBtn {
  @apply text-grey-light box-border inline-block outline-none;
  margin: 0px 4.65% 0px 0px;
  height: 30px;
  line-height: 30px;
}

.customBtn-selected {
  @extend .customBtn;
  @apply text-primary-main;
}
