.filters-wrapper {
  display: none;
  justify-content: space-around;
  margin-bottom: 25px;
  padding: 20px 0px;
  z-index: 1;
  background-color: #ffffff;

  .filters-input {
    flex-basis: 22%;
  }

  .switch-wrapper {
    display: flex;
    justify-content: space-between;

    .radio-switch {
      display: none;

      &:checked ~ label {
        border-color: #F47738;
        color: #F47738;
      }
    }

    label {
      border: 1px solid;
      padding: 6px 10px;
      display: block;
      border-color: rgba(70, 70, 70, var(--border-opacity));
    }
  }
}

@screen dt {
  .filters-wrapper {
    display: flex;
  }
}