.input-otp-wrap {
  @apply mb-lg;

  input {
    @apply border-2 border-solid border-input-border outline-none h-10 w-10 text-form-field text-text-primary text-center mr-md;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
