.navbar {
  @apply text-white bg-secondary p-md w-full;
  img {
    display: inline-block;
    min-width: 78px;
    height: 24px;
    padding-right: 8px;
    margin-right: 8px;
    border-right: 1px solid white;
  }
  span {
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
  }
}
/* .navbar-header{
    @apply text-navbarheader float-left px-sm
}

.navbar-subheader{
    @apply font-light px-sm border-solid border-l border-white border-opacity-100
}*/
