.search-form-wrapper{
    @apply flex flex-wrap justify-between bg-white mb-lg py-lg pl-lg;
    .form-field{
        width: calc( 25% - 16px );
        @apply inline-block mr-md align-middle;
    }
    .submit{
        right: 36px;
        margin-top: 22px;
        @apply inline align-middle text-center !important;
        button{
            margin: 0;
            @apply inline-block w-full !important;
        }
        p{
            @apply cursor-pointer text-link text-focus w-full inline-block ;
        }
    }
}