.table {
  @apply bg-white w-full;

  thead {
    th {
      padding: 20px 18px;
      @apply font-bold align-middle text-left;
    }
  }

  tbody {
    border: none;
    padding: 0;
    margin: 0;
    td {
      @apply border-t border-border text-left align-middle;
      padding: "20px 18px";
    }
  }
}
