.tag-container {
  @apply flex flex-wrap mb-md;
  .tag {
    @apply bg-grey-mid rounded-2xl pt-sm pb-sm mt-xs flex justify-between items-center;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 14px;
    margin-left: 2px;
    .text {
      padding-right: 5px;
    }
  }
}
