.upload-wrap {
    @apply flex w-full h-40 bg-grey-light relative mb-lg px-sm border border-border border-dashed;

    img {
        display: block;
        margin-top: 58px;
        margin-left: calc(50% - 23px);
        height: 42px;
        width: 46px;
    }

    svg {
        display: block;
        margin-top: 58px;
        margin-left: calc(50% - 23px);
        height: 42px;
        width: 46px;
    }

    input {
        @apply absolute w-full h-full opacity-0 top-0;
    }
}

.multi-upload-wrap {

    @apply flex mb-lg;

    div {
        display: block;
        position: relative;
        background-color: #fafafa;
        width: calc((100% - 16px)/3);
        margin-right: 8px;

        .delete {
            position: absolute;
            height: 24px;
            width: 24px;
            border-radius: 100%;
            top: 2px;
            right: 2px;
        }
    }

    .upload-img-container {
        border: 1px dashed #D6D5D4;
        margin: 0 !important;

        img {
            margin-left: auto;
            margin-right: auto;
            padding-top: calc(33% - 21px);
        }

        svg {
            margin-left: auto;
            margin-right: auto;
            top: calc(50% - 21px);
            position: relative;
        }

        input {
            @apply absolute w-full h-full opacity-0 top-0;
        }

    }
}

.upload-file {
    height: 56px;
    @apply relative border-2 border-input-border w-full;
    
    div{
        @apply flex flex-row h-full items-center pl-md;

        .file-upload-status{
            @apply text-body-s-dt ml-sm;
        }
    }
    input {
        @apply absolute top-0 left-0 opacity-0 h-full w-1/3;
    }
}