/* for text entrable fields */
.textfield-enterable-selection label {
  color: black !important; 
}

.textfield-enterable-selection div div div {
  color: black !important; 
}

.textfield-enterable-selection div div div .select-field-placeholder {
  color: grey !important; 
}

#custom-containers-local-tradeLocMohalla div label,
#custom-containers-local-residential div label {
  color: black !important;
}

.radio-button-label, .formLabel, .root{
  color: black !important;
}

.radio-button-label, .formLabel label, .root{
  color: black !important;
}

span[data-localization="NOC_GENDER_LABEL"],
span[data-localization="NOC_APPLICANT_RELATIONSHIP_LABEL"]{
  color: black !important;
};