.mihy-app-sub-option-left-image {
  border-radius: 50%;
  height: 84px;
  position: relative;
  width: 84px;
  left: -31px;
  -webkit-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.mihy-app-sub-option-card {
  padding: 8px;
  border-radius: 3px;
  height: 100px;
  background: white;
  margin-bottom: 16px;
}

.mihy-app-sub-option-right-icon {
  border-radius: 50%;
  height: 30px;
  position: relative;
  width: 30px;
  right: -118px;
  top: -63px;
  -webkit-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}
