.service-cont {
  display: inline-block;
}

.servicenearby-carousel-cont {
  padding-bottom: 2px;
}

.servicenearby-carousel-cont .control-dots {
  position: static;
  padding: 0;
}

.servicenearby-label-cont {
  margin-bottom: 23px;
  padding-bottom: 8px;
  border-bottom: solid 1px #e0e0e0;
}

.servicenearby-carousel-cont .dot {
  box-shadow: none !important;
  background: #d3d3d3 !important;
  width: 4px !important;
  height: 4px !important;
  margin: 0 4px !important;
}

.servicenearby-carousel-cont .dot.selected {
  background-color: #00bbd3 !important;
}

.servicenearby-carousel-cont a {
  width: 55px;
  display: inline-block;
  text-align: center;
}

.servicenearby-carousel-cont .swiper-slide {
  padding: 0 20px;
}

.servicenearby-carousel-cont .swiper-pagination-bullet {
  width: 4px !important;
  height: 4px !important;
  margin: 0 2px !important;
}
