.home-page-content {
  position: absolute !important;
  top: 50%;
  left: 8px;
  right: 8px;
  margin-bottom: 70px;
}

.homepage-banner.user-screens-wrapper {
  height: 30vh;
}

.homepage-banner .banner-image,
.homepage-banner .banner-overlay {
  position: absolute;
  height: 100%;
}

.homepage-banner .banner-back-button {
  display: none !important;
}

.homepage-banner .logo-wrapper {
  position: absolute;
  top: 10px;
}

.homepage-banner .logo-wrapper .mseva-logo {
  width: 100px;
}
