.report-excel-button,
.report-pdf-button {
  color: #fe7a51 !important;
  border: none !important;
  margin: 0px 4px !important;
}

.report-result-table {
  color: #484848;
  border: none;
  background-color: #ffffff;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.13), 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding-top: 8px;
  overflow-y: auto;
}
.report-title {
  margin: 16px;
  color: #484848;
  font-size: 20px;
}
.report-table-header th {
  border-top: 1px solid #e0e0e0 !important;
  border-bottom: 1px solid #e0e0e0 !important;
}
.report-download-button-text {
  border: none !important;
  pointer-events: none;
}
.report-download-button-text:active,
.report-download-button-text:hover {
  box-shadow: none !important;
  background-color: #ffffff !important;
}
.show-field-label .label-text {
  display: inline;
}
.report-result-table-header {
  margin-top: 16px;
  font-weight: 500;
  font-size: 14px;
  color: #484848;
}
.total td {
  border-top: 1px solid #111 !important;
  font-weight: bold;
}

.dataTables_scrollBody {
  border:1px solid #ddd;
}


.report-header-row-label {
  font-weight: bold;
}

.dataTables_filter {
  float: left !important;
  text-align: center !important;
  margin-left: 10px;
}

.report-buttons {
  float: right !important;
  text-align: center !important;
  margin-right: 10px;
}

.margin0 {
  margin: 0 !important;
}

.dropdown-menu > .active > a  {
  background-color: #fe7a51!important;
  color: #000!important;
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
}

.report_filters {
  margin-bottom: 8px;
}


@media only screen and (max-width: 704px) {
  #reportTable_wrapper {
    overflow: scroll;
  }
  #reportTable_wrapper .col-xs-12 .text-center {
    position: unset;
  }
  .unique-jk-report-btns {
    position: unset !important;
  }

  .dataTable thead tr th {
    /* display: unset !important; */
  }
  .dataTables_scrollHeadInner{
    width: 100%;

  }
.table .table-striped .table-bordered .dataTable{
width: 100%;
}
.report-table-header{
  width:100%;
  overflow:auto;
  display:flex;
}
  .dataTable tbody tr td {
    display: unset !important;
    width: 65px !important;
    word-break: break-all;

  }
  .report-header-cell{
    
    display: unset!important;
  }
  th.report-header-cell {
    width: 40px !important;
}
.label-container .label-text{
      text-overflow: unset;
     overflow: initial;
}
}


.dt-button-collection{
  margin-top: 2% !important;
    display: flex!important;
    flex-direction: row-reverse!important;
    width: 100%!important;
}
.dt-buttons{
  display: flex;
justify-content: end;
cursor: pointer;
}


table.dataTable th {
  padding-right: 20px;
  word-break: break-word; }
table.dataTable td {
  padding: 5px;
  word-break: break-word; }