.request-reaasign-main-container {
  position: relative !important;
  padding: 16px 16px 0 16px !important;
  background: #ffffff;
  height: calc(100vh - 64px);
}

.request-reaasign-textArea {
  padding: 24px 16px 250px 1px;
}
