.cs_header {
    word-break: break-all;
    color: black;
    display: inline-block;
    text-align: right;
    width: 70px;
}

.cs_row {
    display: block;
}

.cs_values {
    display: inline-block;
    text-align: right;
    width: 70px;
}