.home-event {
  padding: 0px;
}
.event-card {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.event-card .date {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  color: white;
}

.event-card .date > div {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-card .date .day {
  background-color: #00bbd3;
}

.event-card .date .month {
  background-color: #7edfeb;
}

.event-card .info {
  flex-grow: 3;
  padding: 5px 15px;
}

.event-card .info .event-location {
  display: flex;
}

.event-card .info .event-location .location-icon {
  height: 18px !important;
  width: 18px !important;
  color: #767676 !important;
}

.event-card .info .event-location .label-container {
  display: inline-block;
  margin-left: 10px;
}
.event-card .info > div {
  margin-bottom: 5px;
}
