.radio-button-group {
  padding: 0;
}

.checkbox-root {
  width: 16px;
  margin-right: 11px;
}

.fontSize12 {
  font-size: 12px;
}

.city-picker-dialog-style {
  min-height: 180px;
  min-width: 365px;
}

@media only screen and (max-width: 768px) {
  .city-picker-dialog-style {
    min-width: 250px;
  }
}

.tl-trade-type div {
 color: rgba(0, 0, 0, 0.87) !important; 
}

div[class^="MuiPaper-root"] svg text, .stepper-container svg text {
  font-size: 15px !important }

.bpacheckbox-label {
  letter-spacing: 0.58px;
  margin-bottom: 0 !important;
  color: rgba(0, 0, 0, 0.87);
}

#material-ui-rightContainerH div{
  font-size: 24px !important;
  padding-top: 10px !important;
  color: #262627 !important;
}
#material-ui-rightContainer {
  margin-top: 5px !important;
}
#material-ui-applicantContainer {
  /* background: rgb(242, 242, 242) !important; */
  padding: 10px !important;
}

#material-ui-applicantContainer div:nth-child(3),
#material-ui-blocksContainer div:nth-child(3) {
  width: 100% !important;
}

#material-ui-fieldinspectionSummary {
  width: 100% !important;
}

#material-ui-buildingheaderDetails:nth-child(1) { 
  padding: 14px 0 0 10px;
}

#custom-containers-proposedLabel {
  color: black;
  font-size: 16px;
}


#material-ui-ocScrutinyDetailsContainer {
  width: 100% !important;
}

@media only screen and (min-width: 768px){
  .wf-wizard-footer {
    z-index: 110 !important;
  }
}


@media only screen and (min-width: 768px) {
  .downloadprint-commonmenu {
    float: right;
    margin-top: -50px; } }

@media only screen and (max-width: 768px) {
  .tl-download-button {
    margin-left: 5px;
    margin-right: 1px;
    width: 178px; }
  .tl-print-button {
    margin-left: 1px;
    width: 140px; }
  div#custom-atoms-rightdiv {
    width: 100%; } }

@media only screen and (min-width: 768px) {
  .tl-download-button {
    margin-left: 10px;
    width: 180px; }
  .tl-print-button {
    margin-left: 5px;
    width: 150px; } }
#material-ui-proposedBuildingDetailsSummary {
  box-shadow: none !important;
}
#custom-atoms-multiCheckListContainers > div > div > div{
  margin-bottom: -30px !important;
}
.mymuicontainer > div > div {
  margin-bottom: 30px;
}
#material-ui-stakeholderMyappsConatiner > div {
  margin: 20px 10px;
  width: 100%;
}
#material-ui-blocksContainer > div > div > table > thead > tr > th {
  z-index: 0 !important;
}
#custom-atoms-multiCheckListContainers > div > div > div > div > button {
  margin-right: 11.5%;
}                    
#material-ui-fieldSummary > div > div > div > div > div:nth-child(2) {
  float: left;
}
#material-ui-fieldSummary > div > div > div > div > div:nth-child(3) {
  margin-left: 15%;
}

#custom-containers-statictitle,
#custom-containers-dynamicTitle {
  font-size: 20px !important;
  color: rgba(0, 0, 0, 0.87) !important;
}