.user-screens-wrapper {
  width: 100%;
}

.banner-image,
.banner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.banner-back-button {
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 1;
  color: #fff !important;
}

.banner-overlay {
  background: rgba(61, 89, 107, 0.75);
}

.banner-image {
  background-image: url(../../../../assets/images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.logo-wrapper {
  position: fixed;
  width: 100%;
  top: 50px;
  padding: 10px;
}

.mseva-logo {
  display: block;
  margin: 0 auto;
}

.user-screens-wrapper .user-screens-card {
  position: fixed;
  bottom: 10px;
  left: 8px;
  right: 8px;
  padding: 24px 16px;
  overflow-y: scroll;
  overflow-x: hidden;
}

@media only screen and (min-width: 768px) {
  .user-screens-wrapper {
    height: 100vh;
  }

  .banner-image,
  .banner-overlay {
    position: absolute;
    height: 100%;
  }

  .user-screens-wrapper .user-screens-card,
  .logo-wrapper {
    position: absolute;
  }
}
