.radio-button-group {
  padding: 0;
}

.checkbox-root {
  width: 16px;
  margin-right: 11px;
}

.fontSize12 {
  font-size: 12px;
}

@media only screen and (max-width: 599px) {
  #material-ui-hrmsResetButton, 
  #material-ui-hrmsSearchButton {
    margin-right: 10% !important;
    width: 90% !important;
    margin-top: 8px !important;
  }
}

@media only screen and (min-width: 600px) {
  #material-ui-hrmsResetButton, 
  #material-ui-hrmsSearchButton {
    width: 220px !important; 
    margin: 8px !important;
  }
}
