#material-ui-propertySearchTabs{
  background-color: transparent !important;
  box-shadow: none !important;
  margin-top: 0px !important; 
    div{
        div{
          background-color: transparent;
        }
    }
}
#material-ui-ulbCityContainer {
  div{
    div{
      background-color: white!important;
    }
}
}
div[class^="NavPills-root"] {
  background-color: transparent;
}

#material-ui-popup{
    height: 100%;
    }

#material-ui-yearDetailsContainer{div{div{fieldset{div{label{span:nth-child(1){
    height:20px !important;
}}}}}}}

#material-ui-yearDetailsContainer{div{div{fieldset{label{span:nth-child(1){
    font-size:15px;
    font-weight: bolder;
}}}}}}
#material-ui-yearDetailsContainer{div{div{fieldset{label{
    padding-bottom: 10px;
}}}}}

#material-ui-ulbCityContainer{ div {p{
  font-size: 14px;
}}}


// button[role=tab]{
//     span{
//         span{
//             span{
//                 span{
//                     color:black;
//                     font-weight:800;
//                 }
//             }
//         }
//     }
// }
#material-ui-searchPropertyDetails{
    margin-right: -20px;
    margin-left: -20px;
    margin-top: 10px;
    background-color: white !important;
   }

   #material-ui-searchApplicationDetails{
    margin-right: -20px;
    margin-left: -20px;
    margin-top: 10px;
    background-color: white !important;
   }

   @media only screen and (max-width: 768px) {
    #material-ui-resetButton{
        float:none !important;
        margin-left: 38px !important; 
    }
    #material-ui-searchButton{
      margin-left: 38px !important; 
    }
    
    .ack-body, .ack-tail {
        display: contents;
        text-align: center;
    } 
         
  }
  @media only screen and (min-width: 768px) {
  
    .downloadprint-menu {
        float:right;
        margin-top: -50px;

    }
      
  }
  
  
  #material-ui-searchPropertyDetails div div div div div div button span span span span {
      font-size: 14px!important;
  }

  .public-domain-search {
    #material-ui-resetButton, #material-ui-searchButton {
    width: 100% !important;
    margin: 8px 0px !important;
    }
  }

  @media only screen and (max-width: 768px) {

    #custom-containers-genderRadioGroup {
      div {
          display: inline-flex !important;
      }
  }
    #custom-atoms-rightdiv {div{ div{ button{
      padding: 4px 6px!important;
      height: 45px !important;
      width: 175px;
        }
      .pt-print-button{
        width: 150px!important;
      }
      
      
      }}}
        .downloadprint-menu{
          overflow: scroll;
        }
    .pt-download-button {
      margin-left: 5px;
      margin-right: 1px;
      width: 175px;
      padding: 2px 1px;
      height: 50px !important;
    }
    .pt-print-button {
      margin-left: 3px;
      padding: 2px 1px;
      width: 140px;
      height : 50px !important;
    }
    div#custom-atoms-rightdiv {
      width: 100%;
    }
    .public-domain-search {
      padding-top: 65px;
      #material-ui-searchPropertyDetails{
        margin-right: 0px !important;
        margin-left: 0px !important;
        margin-top: 10px;
        background-color: white !important;
       }
    }
  }
  
  @media only screen and (min-width: 768px) {
    .pt-download-button {
      margin-left: 10px;
    }
    .pt-print-button {
      margin-left: 5px;
    }
    .public-domain-search {
      padding-left: 16px;
      padding-right: 16px;
      #material-ui-searchPropertyDetails{
        margin-right: 0px !important;
        margin-left: 0px !important;
        margin-top: 10px;
        background-color: white !important;
       }
    }
  }
  .autocomplete-dropdown {
    min-width: 80%;
    position: absolute;
    z-index: 1900;
    max-height: 150px;
    overflow: hidden;
  }
  .autocomplete-dropdown div {
	min-width: 80%;
	max-height: 150px;
    overflow: auto;
  }