.rc-slider-dot{
    border-radius: 0px !important;
    width: 0px;
    height: 20px;
    border: 1px solid gray;
    margin-left: 1px;
}
.rc-slider-handle {

    border-radius: 0px !important;
    width: 0px;
    height: 20px;
    border: 1px solid blue;
    margin-left: 0px;
    margin-top: -14px;
}

.rc-slider-mark-text-active {
    color:gray !important;
  }
  .rc-slider-track {
    border-radius: 0px !important;
    color:gray !important;
    background-color:#FFFF !important;
    height: 20px;
    margin-top: -14px;
  }
  .rc-slider-rail {
      border-radius: 0px !important;
      color: blue;
      background-color:#3293f5;
      height: 20px;
      margin-top: -14px;
  }
  .rc-slider{
      background-color: gray;
  }
  
