.timer-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
    margin-right: 4px;
}
.displayTime{
    display: flex;
    justify-content: center;
    align-items: center;
 //   width: 100px;
  //  padding: 1%;
    color:#767676;
 // border-style: groove;
    font-size: 14px;
}