.actionMenuSearchBox {
  background-color: #3d4951 !important;
  color: white;
  width: 188px !important;
  height: 40px !important;
  margin-top: 22px;
}

.whiteColor {
  color: white !important;
}

.pointerCursor {
  cursor: pointer;
}

.actionMenuFibreIcon {
  width: 8px;
  height: 8px;
}
.actionMenuMenu {
  display: inline-block !important;
}
