/* Select field */
.custom-form-control-for-select > div:nth-child(2) {
  position: absolute !important;
  bottom: 2px !important;
  left: 10px !important;
  z-index: 10 !important;
  pointer-events: none;
}

.custom-form-control-for-select > div > div:nth-child(1) {
  border: 1px solid #ccc !important;
  border-radius: 5px !important;
  box-shadow: 0px !important;
  position: relative !important;
  background-color: #fbfbfb !important;
  top: 28px !important;
  height: 34px !important;
}

.custom-form-control-for-select div:nth-child(1) button {
  padding: 3px !important;
  top: -3px !important;
}

.custom-form-control-for-select div:nth-child(1) div:nth-child(2) {
  top: -12px !important;
  left: 10px !important;
}

.custom-form-control-for-select div:last-child {
  bottom: 5px !important;
}
