.wizard-form-main-cont {
  padding: 12px 0px 0px 0px;
  position: relative;
}

.owner-gender-selection {
  display: flex;
  position: inherit;
  top: -5px;
}

.pt-ownerinfo-deletebtn {
  float: right !important;
  margin-top: -30px;
}

.pt-owner-info {
  .pt-ownerinfo-title {
    margin-left: 23px;
  }
  .dropdown {
    width: 100% !important;
  }
  .owner-details-form {
    display: flex;
    justify-content: space-between;
    padding: 2px 30px 1px 31px;
    .name-address {
      width: 40%;
    }
    .other-details {
      width: 40%;
      .relationship-details {
        display: flex;
        justify-content: space-between;
        margin-bottom: 14px;
        .dropdown {
          margin-left: 11%;
        }
      }
    }
  }
  .property-corr {
    // margin-top: -29px;
    // margin-left: -4px;
    margin-left: 12px;
    label {
      color: rgb(72, 72, 72) !important;
      font-weight: 500;
    }
  }
}
@media only screen and (max-width: 768px) {
  .address {
    margin-left: 0px !important;
  }
  .wizard-form-main-cont {
   overflow-x: hidden;
  }
}
@media only screen and (max-width: 768px) {
  .authority-details-form{
    display: grid !important;
    overflow: auto !important;
    overflow-x: hidden !important;
  }
}

.pt-institute-authority-info {
  margin-left: 25px;
  .pt-authority-title {
    display: flex;
    span:nth-of-type(2) {
      margin-top: 2px;
      margin-left: 5px;
    }
  }
  .authority-details-form {
    display: flex;
    .name-address {
      .textfield {
        width: 117% !important;
      }
    }
    .address {
      margin-left: 130px;
    }
    .property-corr {
      > div {
        margin-top: 2px !important;
      }
      label {
        color: rgb(72, 72, 72) !important;
        font-weight: 500;
      }
    }
  }
}

.breadcrumb {
  padding: 0;
}

.pt-add-owner-btn {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  color: #fe7a51;
}

.grayout {
  box-shadow: none;
  background-color: #f6f6f6 !important;
  
}

.review-pay-tab {
  .dropdown > div > div {
    div:nth-of-type(2) {
      color: rgb(72, 72, 72) !important;
    }
  }
  .textfield {
    div:nth-of-type(1) {
      opacity: 0 !important;
    }
  }
  .autosuggest {
    input {
      color: rgb(72, 72, 72) !important;
    }
  }
  input[type="radio"] {
    -webkit-appearance: none;
    width: 17px;
    height: 17px;
    border: 1px solid grey;
    border-radius: 50%;
    outline: none;
  }

  input[type="radio"]:before {
    content: "";
    display: block;
    width: 60%;
    height: 60%;
    margin: 20% auto;
    border-radius: 50%;
  }

  input[type="radio"]:checked {
    border: 1px solid #fe7a51;
  }

  input[type="radio"]:checked:before {
    background: #fe7a51;
  }

  .rainmaker-card {
    .rainmaker-card {
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
    }
  }
}

.propertyAddress {
  .textfield-text div {
    width: 60px;
    color: #fe7a51 !important;
    margin-right: 12px !important;
  }
}

.checkbox-container > div > div > div {
  margin-right: 4px !important;
  div > svg:nth-of-type(2) {
    fill: #fe7a51 !important;
  }
}

.pt-floor-name {
  div > div {
    div:nth-of-type(2) {
      color: rgb(72, 72, 72) !important;
    }
  }
}
// input[type='radio']:checked:after {
//   background-color: #fe7a51;
//   content: '';
// }

.remove-unit-assessment {
  float: right;
}

div[class^="floorDetails_"] .text-left {
  margin-left: 15px;
}

.declaration-main-header {
  color: rgb(72, 72, 72);
  letter-spacing: 0.7px;
  font-weight: 500;
  font-size: 16px;
}

div[class^="MuiPaper-root"],
.stepper-container {
  svg {
    text {
      fill: #fff;
      font-size: 1.2rem;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    }
  }
  [class*="MuiStepIcon-active"] {
    circle,
    path {
      color: #fe7a51;
    }
  }
  
  [class*="MuiStepLabel"] {
    color: rgba(0, 0, 0, 0.87);
  }
  > div > span > span:nth-of-type(2) > span {
    font-size: 14px;
  }
}

div[class^="MuiPaper-root"],
.stepper-container {
[class*="MuiStep-completed"]{
  circle,
  path {
    color: #39CB74;
  }
}
}
#tax-wizard-buttons {
  height: 64px;
  padding: 8px;
}

@media only screen and (max-width: 768px) {
  #tax-wizard-buttons {
    text-align: initial;
    text-align: initial;
    margin: 0;
    padding: 0;
    height: initial;
    .button-container {
      float: none;
      display: flex;
      width: 100%;
      margin: initial;
      padding: initial;
      div:nth-of-type(1),
      div:nth-of-type(2) {
        width: 100% !important;
        margin: 0 !important;
        white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px!important;
        
      }
    }
  }
  .wizard-content {
    .dropdown {
      width: 100% !important;
    }
  }
  .fare-section {
    display: flex;
    flex-direction: column;
    > div {
      margin-right: 2px !important;
      div[class^="clearfix"] {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
        padding: 0;
        &:before,
        &:after {
          display: none;
        }
      }
    }
  }
  .tax-calculation-card-header {
    .amt-radio {
      margin-right: 11px;
    }
  }
  .pt-review-form {
    .grayout {
      padding: initial;
    }
  }
  .stepper-container {
    padding: 10px 0px 0px 0px !important;
  }
  .form-header{
    margin-top:50px;
  }
}

@media only screen and (max-width: 768px) {
  .propertyAddress,
  .pt-review-form,
  .ownerInfo,
  .basicInformation,
  .plotDetails,
  .ownershipType {
    padding: 0px !important;
  }
  .owner-gender-selection.RadioComp {
    display: block;
  }
}
div.ownerCategoryIdType div:nth-child(1) {width: 100%;}
div#ownerCategoryIdType div[class^="MuiFormControl-root"] {width: 100% !important;}
div#ownerCategory div[class^="MuiFormControl-root"] {width: 100% !important;}
div#ownerRelationship div[class^="MuiFormControl-root"] {width: 100% !important;}
div#typeOfOwnership div[class^="MuiFormControl-root"] {width: 100% !important;}



.basicInformation {.rainwaterHarvesting {
  height: 100px!important;
}

}
input[type="radio"]:checked {
  border: 1px solid #fe7a51;
}

input[type="radio"]:checked:before {
  background: #fe7a51;
}
