.modern-radio-container {
    margin: 24px 0;
    display: flex;
    cursor: pointer;
    user-select: none;
    height: 100px;
    &.week-table {
      height: 10px;
      align-items: center;
      justify-content: center;
    }
  }

.radio-outer-circle {
    width: 18px;
    height: 18px;
    min-width: 18px;
    min-height: 18px;
    border: 2px solid #505A5F;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 12px;
    transition: all 0.1s linear;
    padding: 0px;
}

.radio-full-inner-circle {
  width: 11px;
  height: 12px;
  border-radius: 50%;
  background-color: #226b09;
  transition: all 0.1s linear;
}

.radio-half-inner-circle {
  /*         transform: translate(-50%, -50%); */
  height: 8px;
  width: 12px;
  border-radius: 300px 300px 0 0;
  background-color: #226b09;
  transform: rotate(-90deg) translateY(-2px);
}

.unselected {
  border: 2px solid #666;
}

.selected {
  border: 2px solid #226b09;
}

.unselected-circle {
  width: 0;
  height: 0;
}

.helper-text {
  color: #666;
  padding-right: 8px;
}
