.property-tax-card {
  padding: 0px !important;
}
.assess-history{
  button{
    div{
      div{
        height: 35px!important;
      }
    }
  }
}
.assess-history button div div{
  height: 35px!important;
}

.pdf-header{
  display:none;
}
