.cfPopup{
    align-items: center;
}

.cfPopupText{
    text-align: center;
}

.cfPopupButtonDiv{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.cfPopupButton{
    width: 90px;
}