.notice_and_circular_image svg {
    width: 80px;
    height: 100px;
  }
  .notice_and_circular_content {
    padding-left: 50px;
  }
  .back-btn2{
      border: none;
  }
  @media screen and (max-width: 768px) {
    .notice_and_circular_image svg {
      width: 53px;
      height: 66px;
    }
    .notice_and_circular_content {
      padding-left: 40px;
    }
    .documentContainerPadding{
        padding: 0 10px;
    }
  }