.HomePageWrapper {
  margin-top: -25px;

  .BannerWithSearch {
    margin-bottom: 40px;
    @apply relative;
    .Search {
      width: calc(100% - 32px);
      bottom: -18px;
      @apply mx-md absolute;
    }
    img {
      height: 33vw;
      @apply w-full object-cover;
    }
  }

  .ServicesSection {
    @apply flex flex-wrap;
    padding: 0 15px 0 15px;
  }

  @screen dt {
    .ServicesSection {
      @apply flex flex-wrap;
      padding: 0 15px 0 15px;
      width: calc(80% - 55px);
    }
  }

  .WhatsNewSection {
    @apply m-sm;
    .headSection {
      @apply flex mb-sm justify-between;
      h2 {
        @apply text-heading-s font-bold text-text-primary pl-sm;
      }
      p {
        @apply text-link text-primary-main font-medium;
      }
    }
    @media (min-width: 780px) {
      padding: 0 15px;
      width: calc(80% - 54px);
    }
  }
}

.SideBarStatic {
  width: calc(20% - 15px);
  background: #ffffff;
}

@media (max-width: 780px) {
  .SideBarStatic {
    display: none;
  }
}
.HomePageContainer {
  @media (min-width: 640px) {
    display: flex;
    width: calc(80% - 32px);
    height: calc(100%-30px);
  }
}

.moduleLinkHomePage {
  @media (min-width: 780px) {
    width: 80%;
  }
  margin-top: -25px;
  img {
    height: 33vw;
    filter: grayscale(100%);
    @apply w-full object-cover;
  }
  h1 {
    position: absolute;
    top: 100px;
    left: 21px;
    @apply text-heading-xl text-white font-bold;
  }
  .moduleLinkHomePageBackButton {
    border: none;
    top: 76px;
    svg {
      fill: #ffffff;
    }
    @apply absolute text-white text-heading-s ml-md;
  }
}

.moduleLinkHomePageModuleLinks {
  @apply mt-md;
  .CitizenHomeCard {
    .header {
      @apply hidden;
    }
  }
}

@screen dt {
  .HomePageWrapper {
    .BannerWithSearch {
      margin-bottom: 56px;
      min-width: 100vw;
      .Search {
        width: calc(80% - 54px);
        margin: 0;
        padding: 0 15px 0 15px;
      }
      img {
        height: 20vw;
      }
    }
  }
  .moduleLinkHomePage {
    img {
      min-width: 100vw;
      height: 20vw;
    }
    h1 {
      top: calc(10vw + 40px);
      left: calc(20% + 15px);
    }
    .moduleLinkHomePageBackButton {
      top: calc(10vw + 16px);
      @apply ml-md;
    }
  }
}
