.HomePageWrapper{
    margin-top: -25px;
    .BannerWithSearch{
        margin-bottom: 40px;
        @apply relative;
        .Search{
            width: calc( 100% - 32px );
            bottom: -18px;
            @apply mx-md absolute;
        }
        img{
            height: 33vw;
            @apply w-full object-cover;
        }
    }

    .ServicesSection{
        @apply flex flex-wrap ;
    }

    .WhatsNewSection{
        @apply m-sm;
        .headSection{
            @apply flex mb-sm justify-between;
            h2{
                @apply text-heading-s font-bold text-text-primary pl-sm; 
            }
            p{
                @apply text-link text-primary-main font-medium;
            }
        }
    }
}

@screen dt{
    .HomePageWrapper{
        .BannerWithSearch{
            margin-bottom: 56px;
            min-width: 100vw;
            margin-left: calc( -15vw - 16px );
            img{
                height: 25vw;
            }
        }
    }
}