.transfer-ownership {
    border: 1px solid rgb(254, 122, 81);
    background-color: transparent;
    box-shadow: none;
    min-width: 225px !important;
    button {
        div {
            div {
                height: auto !important;
                span {
                    padding-left: 5px !important;
                    padding-right: 5px !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .transfer-ownership {
        position: absolute;
        top: 52.5%;
        left: 38px;
        button {
            div {
                div {
                    span {
                        margin: -5px !important;
                    }
                }
            }
        }
    }
    .view-history-button {
        margin-top: -5px;
    }
  }