.profileFormContainer {
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  padding: 16px !important;
}
.profileBtn {
  height: 48px;
  box-shadow: none !important;
}
.profileBtnWrapper {
  z-index: 1000;
}

.profileContainer {
  position: relative;
}

.profile-form-field > label {
  color: #03b0c6 !important;
}

.profileContainer {
  position: relative;
}
