.forgot-passwd .label-text {
  font-weight: 500;
  letter-spacing: 0.6px;
  color: #f89a3f;
  margin-top: 8px;
  text-align: right;
  margin-bottom: 24px;
  text-transform: uppercase;
  /* margin-right: 14px; */
}
.web-user-logo {
  display: none;
}

.employee-login-logo {
  width: 45%;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .web-user-logo {
    display: block;
  }
}
