/* otp */
.otp-text {
  margin-bottom: 12px;
}

.otp-heading {
  margin-bottom: 24px;
}

.otp-prompt,
.otp-resend {
  display: inline-block;
  margin-left: 10px;
}

.otp-resend .label-text {
  color: #db251c;
}

.otp-prompt .label-text {
  color: "rgba(0, 0, 0, 0.6000000238418579)";
}
