body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto" !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

header {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto {
    padding-right: 10px !important;
    padding-left: 10px !important;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}

i {
    padding: 5px !important;
}

a {
    color: black !important;
}

li {
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--black);
}

.heading {
    width: 262px;
    height: 21px;
    font-family: Roboto !important;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--black);
    padding-left: 12px;
}

.help {
    width: 35px;
    height: 18px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--black);
}

h6 span {
    font-family: Roboto;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--bluey-grey);
}

.navbar-nav {
    flex-direction: row;
}

.nav-link {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
}


/* Fixes dropdown menus placed on the right side */

.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
}

.card-body {
    padding: 20px !important;
}

.collectionChart .tt-label,
.collectionChart .tt-value {
    float: left;
    color: black;
    font-family: Roboto;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    height: 20px;
}

.collectionChart .tt-value {
    font-size: 24px;
    font-weight: 500;
    height: 32px;
}

.collectionChart .colRow {
    padding: 30px 0px;
    border-bottom: 1px solid #ccc;
}

.colText {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
}

.defaultButton {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5b5b5b;
    width: 137px;
    height: 32px;
    border-radius: 2px !important;
    border: solid 1px #5b5b5b;
    background-color: rgba(255, 255, 255, 0);
    margin: 4px;
}

.navbar-nav li {
    padding: 15px;
}

.badge-primary {
    background-color: #fe7a51 !important;
}

.badge {
    margin: 8px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 0px !important;
}

.card {
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    border-style: solid;
    border-width: 0.5px;
    border-image-source: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.02) 95%, rgba(0, 0, 0, 0.04));
    border-image-slice: 1;
    background-image: linear-gradient(to bottom, white, white), linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.02) 95%, rgba(0, 0, 0, 0.04));
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.sidebar>div>ul>li>a.active {
    background-color: #ffefeb !important;
    margin: 15px -15px -0px -15px;
    border-left: 3px solid #fe7a51;
}

.fa-menu {
    color: #656565 !important;
    padding-right: 30px !important;
}

.icons {
    width: 10.9px;
    height: 16px;
}

.tableHeading {
    height: 50px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    position: absolute;
    margin-top: 15px;
}

.tableHeading {
    display: flex;
    /* flex-direction: row-reverse; */
    flex: 1 1;
    margin-top: -25px;
}

.fwh {
    flex: 1;
}

.tableHeading .MuiToggleButtonGroup-root {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    color: black;
}

.tableHeading .MuiGrid-spacing-xs-2,
.tableHeading .MuiGrid-container {
    width: auto !important;
}

.tableHeading .MuiToggleButton-root {
    height: 30px;
}


/* .MuiTable-root th,
.MuiTable-root tr,
.MuiTable-root td {
    border: 1px solid #e6e6e6 !important;
} */

.MuiTableBody-root {
    font-family: Roboto;
    font-size: 12px;
    color: black !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.MuiTableRow-head th {
    color: #656565 !important;
    font-family: Roboto;
    font-size: 10px;
    background-color: #fafafa;
}

.GlobalFilter-mainFilter-1 {
    /* height: 100px; */
}

.tableWrapper {
    margin: 20px 0px;
}

.MuiTableCell-root {
    padding: 10px !important;
}

.MuiCardContent-root {
    padding: 20px 20px !important;
}

.tableWrapper .MuiCardContent-root {
    padding: 20px !important;
}

.MuiCardContent-root .MuiPaper-rounded {
    box-shadow: initial !important;
}

.colRow:last-child {
    border-bottom: none;
}

.MuiToggleButtonGroup-grouped {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    border-radius: 4px;
    border: solid 1px #d9d9d9;
    color: #96989a;
    background-color: #ffffff;
}

.MuiToggleButtonGroup-grouped.Mui-selected {
    color: #000000;
    border-radius: 4px;
    border: solid 1px #d9d9d9;
    background-color: #eeeeee;
}

.MuiChip-outlined {
    height: 32px !important;
    width: 120px;
    background-color: #eeeeee !important;
}

.MuiAvatar-root {
    width: 60px !important;
    height: 32px !important;
    border-radius: 15px !important;
    background-color: #fe7a51 !important;
    /* #17c1f4; */
    color: white !important;
    margin-left: -3px !important;
    margin-top: -1px;
}

.MuiChip-label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
    width: 70px;
}

.tableFilterChipWrap {
    /* margin-bottom: 20px; */
    text-align: left;
    flex-direction: row;
    display: flex;
    margin-left: -8px;
    padding-top: 15px;
}

.pieFilterChipWrap {
    margin-bottom: 10px;
    text-align: left;
    display: flex;
}

.pieFilterChipWrap .chipWrap {
    margin: -5px 10px 0px 15px;
    display: flex;
}

.tableFilterChipWrap .chipWrap {
    margin: 0px 20px;
    display: flex;

}

.tableFilterChipWrap .filLabel {
    margin-left: 10px;
    padding-top: 5px;
}

.table-filters {
    display: flex;
    flex-direction: row;
}

.GF_Denomination {
    max-width: 100px;
}

.fa-info-circle {
    color: grey !important;
    font-size: 20px;
}

.progress {
    border-radius: 10px;
    height: 5px;
}

.revenueRow {
    margin-top: 20px;
}

.MuiToggleButton-root.Mui-selected {
    color: #fe7a51 !important;
    background-color: #f0f0f0 !important;
    border-bottom: 1px solid #fe7a51 !important;
    border-radius: 0;
}

canvas {
    height: 100%;
}

.MuiPaper-root {
    /* margin: 0px 8px !important; */
}

.pb-2,
.py-2 {
    /* padding: 0px 5px !important; */
}

#customCalander>div {
    background-color: transparent
}

button:focus {
    outline-color: initial !important;
}

.tableChart .MuiPaper-elevation1 {
    box-shadow: none !important;
}

@media (min-width:320px) {

    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-auto {
        margin-bottom: 20px;
    }

    .navbar-nav {
        display: none;
    }

    .rowList {
        padding-top: 0px;
    }
}

@media (min-width:480px) {

    /* smartphones, Android phones, landscape iPhone */
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-auto {
        margin-bottom: 20px;
    }

    .navbar-nav {
        display: none;
    }

    .rowList {
        padding-top: 0px;
    }
}

@media (max-width: 1293px) {
    .tableHeading {
        display: flex;
        /* flex-direction: row-reverse; */
        flex: 1
    }
}

@media (max-width: 1024px) {
    .tableHeading {
        display: flex;
        /* flex-direction: row-reverse; */
        flex: 1
    }
}

@media (max-width: 768px) {
    .MuiCardContent-root {
        padding: 20px 8px !important;
    }

    .tableHeading {
        display: flex;
        flex-direction: column;
        flex: 1;
        position: unset;
        margin-top: -28px;
    }

    .tableFilterChipWrap {
        margin-top: 0px;
        margin-left: 0px;
        flex-direction: column;
        position: unset;
    }

    .table-filters {
        flex-direction: column;
    }

    .pieFilterChipWrap {
        margin-bottom: 0px;
    }

    .tableFilterChipWrap .chipWrap {
        padding: 3px 0px;

    }
}

@media (max-width: 375px) {
    .tableHeading {
        display: flex;
        flex-direction: column;
        flex: 1;
        position: unset;
    }

    .tableFilterChipWrap {
        margin-top: 0px;
        margin-left: 0px;
    }

    .table-filters {
        flex-direction: column;
    }
}


/* .MuiInput-underline-337:before {
    border-bottom: none !important;
}

.MuiInput-underline-260:before {
    border-bottom: none !important;
}

.MuiInput-underline-341:after {
    border-bottom: none !important;
} */

.CheckboxesTags-root-220 div {
    color: #000000;
    margin: 0px 3px 2px 0 !important;
}

.jss222 div {
    color: #000000;
    margin: 0 3px 2px 0 !important;
}

.dss-date-range div div button i{
padding: 0px !important;
}

@media only screen and (max-width: 1000px) {

    .dss-date-range{
        display: flex!important;
        flex-direction: column;
        overflow: hidden;
        align-items: center;
        justify-items: center;
    }
    .dss-date-range div{
      width: 20em!important;
    }
    .dss-date-time-filter{
        padding: 10px 5px !important
    }
  }