@media only screen and (min-width: 768px) {
    .gen-receipt-com{
        width: 379px;
        height: 48px;
        right: 19px;
        position: relative;
        border-radius: 0px ;
    }
    .make-payment-com{
        width: 363px;
        height: 48px;
        right: 19px;
        position: relative;
        border-radius: 0px ;
    }
    
  }
  
  @media only screen and (max-width: 768px) {
    .gen-receipt-com{
        width: 100%;
        height: 48px;
        position: relative;
        border-radius: 0px ;
  
    }
    .make-payment-com{
        width: 100%;
        height: 48px;
        position: relative;
        border-radius: 0px ;
    }
  }
  